@media (min-width: 401px) {
  .welcome {
    position: relative;
    height: 50vh;
    min-height: 400px;
    background: url("../../assets/images/ashes-sitoula-32544-unsplash.jpg") no-repeat bottom center fixed;
    background-size: cover;
  }
}

@media (max-width: 400px) {
  .welcome {
    position: relative;
    height: 50vh;
    min-height: 400px;
    background: url("../../assets/images/ashes-sitoula-32544-unsplash_mobile.jpg") no-repeat bottom center fixed;
    background-size: cover;
  }
}

  .faq {
    text-align: center;
    padding: 10px 40px;
}

.faq__contents {
    text-align: left;
    max-width: 980px;
    margin: 0 auto 30px;
}

.section {
  display: block;
}


.section-header.section-header--underlined {
  border-bottom: 2px solid #53b6d0;
}

.section-header {
  font-family: barlow semi condensed,Helvetica,sans-serif;
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  display: inline-block;
  font-size: 28px;
  margin: 30px auto;
  padding: 6px 12px;
}