<app-header></app-header>

<div class="welcome d-flex justify-content-center flex-column" id="top">
    <div class="inner-wrapper mt-auto mb-auto container">
      <div class="row">
        <div class="col-md-7">
            <h1 class="welcome-heading display-4 text-white">{{ 'FAQ.FAQ_TITLECOVER' | translate }}</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="anchor" ></div>
  <div class="faq">
    <h2 class="section-header section-header--underlined">{{ 'FAQ.FAQ_TITLE' | translate }}</h2>
    
    <div class="faq__contents">
      <h4>{{ 'FAQ.FAQ1TITLE' | translate }}</h4>
      <p>{{ 'FAQ.FAQ1SECTION' | translate }}      
      </p>
        
      <h4>{{ 'FAQ.FAQ2TITLE' | translate }}</h4>
      <p>{{ 'FAQ.FAQ2SECTION' | translate }} 
      </p>

      <h4>{{ 'FAQ.FAQ3TITLE' | translate }}</h4>
      <p>{{ 'FAQ.FAQ3SECTION' | translate }} </p>
          <ol type="1">
            <li><b>{{ 'FAQ.FAQ3SECTION_LI1_HEAD' | translate }}</b>{{ 'FAQ.FAQ3SECTION_LI1_CONTENT' | translate }} </li>
            <li><b>{{ 'FAQ.FAQ3SECTION_LI2_HEAD' | translate }}</b>{{ 'FAQ.FAQ3SECTION_LI2_CONTENT' | translate }} </li>
            <li><b>{{ 'FAQ.FAQ3SECTION_LI3_HEAD' | translate }}</b>{{ 'FAQ.FAQ3SECTION_LI3_CONTENT' | translate }} </li>
            <li><b>{{ 'FAQ.FAQ3SECTION_LI4_HEAD' | translate }}</b>{{ 'FAQ.FAQ3SECTION_LI4_CONTENT' | translate }}</li>
            <li><b>{{ 'FAQ.FAQ3SECTION_LI5_HEAD' | translate }}</b>{{ 'FAQ.FAQ3SECTION_LI5_CONTENT' | translate }}</li>
            <li><b>{{ 'FAQ.FAQ3SECTION_LI6_HEAD' | translate }}</b>{{ 'FAQ.FAQ3SECTION_LI6_CONTENT' | translate }} </li>
          </ol>

      <h4>{{ 'FAQ.FAQ4TITLE' | translate }}</h4>
      <p>{{ 'FAQ.FAQ4SECTION' | translate }}    
      </p>

      
      <h4>{{ 'FAQ.FAQ5TITLE' | translate }}</h4>
      <p>{{ 'FAQ.FAQ5SECTION' | translate }}      
      </p>      
      
      <h4>{{ 'FAQ.FAQ6TITLE' | translate }}</h4>
      <p>{{ 'FAQ.FAQ6SECTION' | translate }}  
       </p>
      <ol type="1">
        <li><b>{{ 'FAQ.FAQ6SECTION_LI1_HEAD' | translate }}</b>{{ 'FAQ.FAQ6SECTION_LI1_CONTENT' | translate }} 
        </li>
        <li><b>{{ 'FAQ.FAQ6SECTION_LI2_HEAD' | translate }}</b>{{ 'FAQ.FAQ6SECTION_LI2_CONTENT' | translate }}  
        </li>
        <li><b>{{ 'FAQ.FAQ6SECTION_LI3_HEAD' | translate }}</b>{{ 'FAQ.FAQ6SECTION_LI3_CONTENT' | translate }}   
        </li>
        <li><b>{{ 'FAQ.FAQ6SECTION_LI4_HEAD' | translate }}</b>{{ 'FAQ.FAQ6SECTION_LI4_CONTENT' | translate }}  
        </li>
        <li><b>{{ 'FAQ.FAQ6SECTION_LI5_HEAD' | translate }}</b> {{ 'FAQ.FAQ6SECTION_LI5_CONTENT' | translate }}    
        </li>
      </ol>    
                  
      <h4>{{ 'FAQ.FAQ7TITLE' | translate }}</h4>
      <p>{{ 'FAQ.FAQ7SECTION' | translate }}      
      </p>
      <p>
        {{ 'FAQ.FAQ7SECTION_EXAMPLE' | translate }} 
      </p>
     
      <h4>{{ 'FAQ.FAQ8TITLE' | translate }}</h4>
      <p>{{ 'FAQ.FAQ8SECTION' | translate }} 
      </p>

      <h4>{{ 'FAQ.FAQ9TITLE' | translate }}</h4>
      <p>{{ 'FAQ.FAQ9SECTION' | translate }}
      <a routerLink="/calculator/monthlyPayment">{{ 'FAQ.FAQ9SECTION_LINK' | translate }}</a>
      <a>{{ 'FAQ.FAQ9SECTION_ENDING' | translate }}</a>
      </p>      
      
      <h4>{{ 'FAQ.FAQ10TITLE' | translate }}</h4>
      <p>{{ 'FAQ.FAQ10SECTION' | translate }}
      </p>      

      <h4>{{ 'FAQ.FAQ11TITLE' | translate }}</h4>
      <p>{{ 'FAQ.FAQ11SECTION' | translate }}
      </p>
      
      <h4>{{ 'FAQ.FAQ12TITLE' | translate }}</h4>
      <p>{{ 'FAQ.FAQ12SECTION' | translate }}         
      </p>
      <ul>
        <li>{{ 'FAQ.FAQ12SECTION_LI1' | translate }}<a routerLink="/calculator/ontarioLandTransferTax">{{ 'FAQ.FAQ12SECTION_LI1_LINK' | translate }}</a>{{ 'FAQ.FAQ12SECTION_LI1_LAST' | translate }}</li>
        <li>{{ 'FAQ.FAQ12SECTION_LI2' | translate }}</li>
        <li>{{ 'FAQ.FAQ12SECTION_LI3' | translate }}</li>
        <li>{{ 'FAQ.FAQ12SECTION_LI4' | translate }}</li>
        <li>{{ 'FAQ.FAQ12SECTION_LI5' | translate }}</li>
      </ul>

    </div>
  </div>
  

<app-applynow></app-applynow>
<app-contact-us></app-contact-us>
<app-footer></app-footer>

