<div class="welcome d-flex justify-content-center flex-column">

  <!-- Inner Wrapper -->
  <div class="inner-wrapper mt-auto mb-auto container">
    <div class="row">
      <div class="col-md-7">
          <h1 class="welcome-heading display-4 text-white">MeeFinancial - DIY Mortgage Backed by a Full Service Team</h1>
          <p class="text-white">Proudly Canadian</p>
          <a href="#our-services" class="btn btn-lg btn-outline-white btn-pill align-self-center">Learn More</a>
      </div>
    </div>
  </div>
  <!-- / Inner Wrapper -->
</div>
<!-- / Welcome Section -->

<p>
  faq works!
</p>
 
<app-contact-us></app-contact-us>
<app-footer></app-footer>

