<app-header></app-header>

<div class="welcome d-flex justify-content-center flex-column" id="top">
    <div class="inner-wrapper mt-auto mb-auto container">
      <div class="row">
        <div class="col-md-7">
            <h1 class="welcome-heading display-4 text-white">Frequently Asked Questions</h1>
            <!-- <p class="text-white">What </p> -->
            
        </div>
      </div>
    </div>
  </div>

<p>
  faq works!
</p>
 
<app-contact-us></app-contact-us>
<app-footer></app-footer>

