<form [formGroup]="formGroup">
  <mat-card *ngIf="mode=='purchase'">
    <mat-card-header>
      <div mat-card-avatar>
        <i class="fas fa-chevron-right"></i>
      </div>
      <mat-card-title>{{ 'MORTGAGE_BUILDER_SELECTION.PURCHASE_OPTION' | translate }}</mat-card-title>
    </mat-card-header>

    <mat-card-content class="row">
      <mat-form-field class="MortgageBuilder-form-field-form-field col-lg-3 col-md-3 col-12">
        <input matInput type="number" placeholder="Home Price" formControlName="selectedHomePrice" />
      </mat-form-field>
      <mat-form-field class="col-lg-3 col-md-3 col-12">
        <mat-select placeholder="Amortization Period" formControlName="selectedAmortizationPeriod">
          <mat-option *ngFor="let option of amortizationPeriod" [value]="option.value">{{option.title}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="MortgageBuilder-form-field-form-field col-lg-3 col-md-3 col-12">
        <input matInput type="number" placeholder="Down Payment $" formControlName="selectedDownPaymentDollar" />
      </mat-form-field>
      <mat-form-field class="col-lg-3 col-md-3 col-12">
        <mat-select placeholder="Mortgage Payment Frequency" formControlName="selectedPaymentFrequency">
          <mat-option *ngFor="let option of paymentFrequency" [value]="option.value">{{option.title}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>

  </mat-card>

  <mat-card *ngIf="mode=='renewal'">
    <mat-card-header>
      <div mat-card-avatar>
        <i class="fas fa-chevron-right"></i>
      </div>
      <mat-card-title>{{ 'MORTGAGE_BUILDER_SELECTION.RENEWAL_OPTION' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="row">
      <mat-form-field class="MortgageBuilder-form-field-form-field col-lg-3 col-md-3 col-12">
        <input matInput type="number" placeholder="Home Price" formControlName="selectedHomePrice" />
      </mat-form-field>
      <mat-form-field class="MortgageBuilder-form-field-form-field col-lg-3 col-md-3 col-12">
        <input matInput type="number" placeholder="Current Mortgage Balance" formControlName="selectedCurrentMortgageBalance" />
      </mat-form-field>
      <mat-form-field class="MortgageBuilder-form-field-form-field col-lg-3 col-md-3 col-12">
        <input matInput type="number" placeholder="Remaining Amortization" formControlName="selectedRemainingAmortization" />
      </mat-form-field>
      <mat-form-field class="col-lg-3 col-md-3 col-12">
        <mat-select placeholder="Mortgage Payment Frequency" formControlName="selectedPaymentFrequency">
          <mat-option *ngFor="let option of paymentFrequency" [value]="option.value">{{option.title}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="mode=='refinance'">
    <mat-card-header>
      <div mat-card-avatar>
        <i class="fas fa-chevron-right"></i>
      </div>
      <mat-card-title>{{ 'MORTGAGE_BUILDER_SELECTION.REFINANCE_OPTION' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="row">
      <mat-form-field class="MortgageBuilder-form-field-form-field col-lg-4 col-md-4 col-12">
        <input matInput type="number" placeholder="Home Price" formControlName="selectedHomePrice" />
      </mat-form-field>
      <mat-form-field class="MortgageBuilder-form-field-form-field col-lg-4 col-md-4 col-12">
        <input matInput type="number" placeholder="Current Mortgage Balance" formControlName="selectedCurrentMortgageBalance" />
      </mat-form-field>
      <mat-form-field class="MortgageBuilder-form-field-form-field col-lg-4 col-md-4 col-12">
        <input matInput type="number" placeholder="Remaining Amortization" formControlName="selectedRemainingAmortization" />
      </mat-form-field>
      <mat-form-field class="col-lg-4 col-md-4 col-12">
        <mat-select placeholder="Mortgage Payment Frequency" formControlName="selectedPaymentFrequency">
          <mat-option *ngFor="let option of paymentFrequency" [value]="option.value">{{option.title}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="MortgageBuilder-form-field-form-field col-lg-4 col-md-4 col-12">
        <input matInput type="number" placeholder="Additional Funds Needed" formControlName="selectedAdditionalFundsNeeded" />
      </mat-form-field>
      <mat-form-field class="MortgageBuilder-form-field-form-field col-lg-4 col-md-4 col-12">
        <input matInput type="number" placeholder="Mortgage Amount" formControlName="selectedMortgageAmount" />
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  <p></p>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <i class="fas fa-list"></i>
      </div>
      <mat-card-title>Other Debts (show up for all)</mat-card-title>
    </mat-card-header>
    <!-- <mat-card-content> -->
    <mat-list formArrayName="otherDebts">
      <mat-list-item class="row" style="height: auto;" *ngFor="let otherDebt of otherDebts.controls; let i=index" [formGroupName]="i">
        <div class="container col-10">
          <mat-form-field class="col-lg-4 col-md-4 col-12">
            <mat-select placeholder="Debt Type" formControlName="debtType">
              <mat-option *ngFor="let option of debtType" [value]="option.value">{{option.title}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="MortgageBuilder-form-field-form-field col-lg-4 col-md-4 col-12">
            <input matInput type="number" placeholder="Debt Amount" formControlName="debtAmount" />
          </mat-form-field>
          <mat-form-field class="MortgageBuilder-form-field-form-field col-lg-4 col-md-4 col-12">
            <input matInput type="number" placeholder="Monthly Payment" formControlName="monthlyPayment" />
          </mat-form-field>
        </div>
        <!-- <mat-checkbox id="EstMinPayment1" [(ngModel)]="checked">Estimate Monthly Payment</mat-checkbox> -->
        <div class="container col-2">
          <button mat-mini-fab color="warn" (click)="removeOtherDebts(i)">
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </mat-list-item>
    </mat-list>
    <!-- </mat-card-content> -->
    <mat-card-actions class="row">
      <button class="col-12" mat-mini-fab color="primary" (click)="addOtherDebts()">
        <i class="fas fa-plus"></i>
      </button>
    </mat-card-actions>
  </mat-card>
  <p></p>
  <!--Divider  -->
  <div>
    <button mat-raised-button matStepperPrevious>{{ 'MORTGAGE_BUILDER_SELECTION.BACK_BUTTON' | translate }}</button>
    <button mat-raised-button matStepperNext color="primary" (click)="save()" [disabled]="formGroup.invalid">{{ 'MORTGAGE_BUILDER_SELECTION.NEXT_BUTTON' | translate }}</button>
  </div>
</form>