
<div class="container">
<div class="row">
    <div class="feature  col-md-12 col-lg-4 py-4 col-md-6 d-flex">
      <div class="icon text-primary mr-3"><img  src="assets/images/plantOnBooks.png" alt="plantsOnBook" class="img-rounded" style="width:225px"></div>
      <div class="px-4">
          <h2>Do it yourself.</h2>

          <h1>And With A Better Mortgage.</h1>
          
          <h3>We're here to help you succeed.</h3>
          <a class="btn btn-primary btn-pill" href="#">Apply Now</a>
      </div>
    </div>
    </div>