<div class="row" style="margin: 15px; padding: 10px; align-items: center">
    <img src="assets/images/plantOnBooks.png" alt="plantsOnBook" class="col-md-12 col-lg-6 d-flex align-items-stretch">
    <div class="col-md-12 col-lg-6 d-flex align-items-stretch">
        <div class="flex-box">
            <br>
            <h2 class="text-center">Do it yourself.</h2>
            <h1 class="text-center">And With A Better Mortgage.</h1>
            <h3 class="text-center">We're here to help you succeed.</h3>
            <br>
            <a class="nav-link" routerLink="/mortgage" style="display: flex; align-items: center; justify-content: center;">
                <button type="button" class="btn btn-primary">Build My Mortgage</button>
            </a>      
        </div>
    </div>
</div>