<hr>
<h1>Purchase Component</h1>

<div class="container">
  <form [formGroup]="PurchaseHome" (ngSubmit)="onSubmit()">
    <div class="row">     
      <div class="col-lg-6 align-items-center">		
        <label for="HomePrice">Home Price: </label>
        <input id="HomePrice" type="text" class="text input-number" value="$500,000">             
      </div>
      <div class="col-lg-6 align-items-center">
        <label for="DownPayment%">Down Payment: </label>
        <input id="DownPayment%" type="text" class="text input-number" value="20%">   
        <input id="DownPayment$" type="text" class="text input-number" value="$100,000">            
      </div>       
    </div>
    <div class="row">     
      <div class="col-lg-6 align-items-center">		
      <label for="MortgageAmount">Mortgage Amount: </label>
      <input id="MortgageAmount" type="text" class="text input-number" value="$400,000">             
      </div>  
      <div class="col-lg-6 align-items-center">		
        <label for="Amortization">Amortization: </label>
        <select id="Amortization" >
          <option value="25" selected="selected">
          25 years
          </option>
          <option value="5">5 years</option>
          <option value="10">10 years</option>
          <option value="15">15 years</option>
          <option value="20">20 years</option>
          <option value="25">25 years</option>
          <option value="30">30 years</option>
        </select>                                  
      </div>              
    </div>
    <div class="row">     
        <div class="col-lg-6 align-items-center">	
        <label for="PaymentFreq">Payment Frequency: </label>
        <select id="PaymentFreq" >
          <option value="Monthly" selected="selected">
          Monthly
          </option>
          <option value="BiWeekly">Bi-Weekly</option>
          <option value="Semi-Monthly">Semi-Monthly</option>
          <option value="Weekly">Weekly</option>
        </select>   
        </div>       
    </div>    
    <div class="row">     
      <a class="nav-link" routerLink="#">
      <button type="button" class="btn btn-primary btn-sm">Proceed to Next Step</button>
      </a>    
    </div>
  </form>
</div>

<hr>
<h1>Renewal Component</h1>

<div class="container">
    <form [formGroup]="RenewalHome" (ngSubmit)="onSubmit()">
      <div class="row"> 
        <div class="col-lg-6 align-items-center">		
          <label for="HomePrice">Home Price: </label>
          <input id="HomePrice" type="text" class="text input-number" value="$500,000">             
        </div>  
        <div class="col-lg-6 align-items-center">
          <label for="RemainingAmort">Remaining Amortization: </label>
          <input id="RemainingAmort" type="text" class="text input-number" value="20"> years                   
        </div>       
      </div>      
      <div class="row"> 
          <div class="col-lg-6 align-items-center">		
              <label for="CurMortBal">Current Mortgage Balance: </label>
              <input id="CurMortBal" type="text" class="text input-number" value="$500,000">             
          </div>
          <div class="col-lg-6 align-items-center">	
          <label for="PaymentFreq">Payment Frequency: </label>
          <select id="PaymentFreq" >
            <option value="Monthly" selected="selected">
            Monthly
            </option>
            <option value="BiWeekly">Bi-Weekly</option>
            <option value="Semi-Monthly">Semi-Monthly</option>
            <option value="Weekly">Weekly</option>
          </select>   
          </div>       
      </div>    
      <div class="row">     
        <a class="nav-link" routerLink="#">
        <button type="button" class="btn btn-primary btn-sm">Proceed to Next Step</button>
        </a>    
      </div>
    </form>
  </div>


<hr>
<h1>Refinance Component</h1>

<div class="container">
    <form [formGroup]="RefinanceHome" (ngSubmit)="onSubmit()">
      <div class="row">     
        <div class="col-lg-6 align-items-center">		
          <label for="CurMortBal">Current Mortgage Balance: </label>
          <input id="CurMortBal" type="text" class="text input-number" value="$500,000">             
        </div>
        <div class="col-lg-6 align-items-center">		
            <label for="HomePrice">Home Price: </label>
            <input id="HomePrice" type="text" class="text input-number" value="$500,000">             
          </div>   
      </div>      
      <div class="row">           
          <div class="col-lg-6 align-items-center">		
              <label for="AddFundsNeed">Additional Funds Needed: </label>           
              <input id="AddFundsNeed" type="text" class="text input-number" value="$100,000">             
          </div>   
          <div class="col-lg-6 align-items-center">
              <label for="RemainingAmort">Remaining Amortization: </label>
              <input id="RemainingAmort" type="text" class="text input-number" value="20"> years                   
          </div>   
      </div>    
      <div class="row">           
          <div class="col-lg-6 align-items-center">		
              <label for="MortgageAmount">Mortgage Amount: </label>
              <input id="MortgageAmount" type="text" class="text input-number" value="$400,000">             
          </div>  
          <div class="col-lg-6 align-items-center">	
              <label for="PaymentFreq">Payment Frequency: </label>
              <select id="PaymentFreq" >
                <option value="Monthly" selected="selected">
                Monthly
                </option>
                <option value="BiWeekly">Bi-Weekly</option>
                <option value="Semi-Monthly">Semi-Monthly</option>
                <option value="Weekly">Weekly</option>
              </select>   
          </div>           
      </div>   
      <div class="row">     
        <a class="nav-link" routerLink="#">
        <button type="button" class="btn btn-primary btn-sm">Proceed to Next Step</button>
        </a>    
      </div>
    </form>
  </div>

  <p></p>
  <p></p>
  <div class="container">
      <form [formGroup]="DebtConsolidator" (ngSubmit)="onSubmit()">
        <div class="row">     
          <div class="col-lg-3 align-items-center">		
          Type             
          </div>
          <div class="col-lg-3 align-items-center">		
          Debt Outstanding             
          </div>
          <div class="col-lg-3 align-items-center">		
          Minimum Monthly Payment            
          </div>        
          <div class="col-lg-3 align-items-center">		
          Estimate For Me           
          </div>              
        </div>

        <div class="row">     
            <div class="col-lg-3 align-items-center">		
              <select id="DebtType1" >
                <option value="CreditCard" selected="selected">
                Credit Card
                </option>
                <option value="CreditCard">Credit Card</option>
                <option value="CarLoan">Car Loan</option>
                <option value="LoC">Line of Credit</option>
                <option value="2ndMort">Second Mortgage</option>                 
                <option value="OtherDebts">Other Debts</option>                
              </select>           
            </div>
            <div class="col-lg-3 align-items-center">		                
                <input id="DebtAmt1" type="text" class="text input-number" value="$5,000">               
            </div>
            <div class="col-lg-3 align-items-center">		
                <input id="DebtMinPay1" type="text" class="text input-number" value="$150">       
            </div>        
            <div class="col-lg-3 align-items-center">		
                <input id="DebtEst1" type="checkbox" class="text input-number">          
            </div>              
          </div>   

          <div class="row">     
              <div class="col-lg-3 align-items-center">		
                <select id="DebtType2" >
                  <option value="CarLoan" selected="selected">
                  Car Loan
                  </option>
                  <option value="CreditCard">Credit Card</option>
                  <option value="CarLoan">Car Loan</option>
                  <option value="LoC">Line of Credit</option>
                  <option value="2ndMort">Second Mortgage</option>                 
                  <option value="OtherDebts">Other Debts</option>                
                </select>           
              </div>
              <div class="col-lg-3 align-items-center">		                
                  <input id="DebtAmt2" type="text" class="text input-number" value="$15,000">               
              </div>
              <div class="col-lg-3 align-items-center">		
                  <input id="DebtMinPay2" type="text" class="text input-number" value="$350">       
              </div>        
              <div class="col-lg-3 align-items-center">		
                  <input id="DebtEst2" type="checkbox" class="text input-number">          
              </div>              
            </div>  

            <div class="row">     
                <div class="col-lg-3 align-items-center">		
                  <select id="DebtType3" >
                    <option value="LoC" selected="selected">
                    Line of Credit
                    </option>
                    <option value="CreditCard">Credit Card</option>
                    <option value="CarLoan">Car Loan</option>
                    <option value="LoC">Line of Credit</option>
                    <option value="2ndMort">Second Mortgage</option>                 
                    <option value="OtherDebts">Other Debts</option>                
                  </select>           
                </div>
                <div class="col-lg-3 align-items-center">		                
                    <input id="DebtAmt3" type="text" class="text input-number" value="2,000">               
                </div>
                <div class="col-lg-3 align-items-center">		
                    <input id="DebtMinPay3" type="text" class="text input-number" value="$60">       
                </div>        
                <div class="col-lg-3 align-items-center">		
                    <input id="DebtEst3" type="checkbox" class="text input-number">          
                </div>              
              </div>  

              <div class="row">     
                  <div class="col-lg-3 align-items-center">		
                  Total          
                  </div>
                  <div class="col-lg-3 align-items-center">		                
                      <input id="DebtAmt3" type="text" class="text input-number" value="2,000" disabled>               
                  </div>
                  <div class="col-lg-3 align-items-center">		
                      <input id="DebtMinPay3" type="text" class="text input-number" value="$60" disabled>       
                  </div>                   
                </div>                
      </form>
    </div>

<hr>
<h1>Heat Map</h1>
<div class="container">
  <div class="row">     
    <div class="col-lg-2 align-items-center">		
    <strong>Term</strong>          
    </div>
    <div class="col-lg-2 align-items-center">		
    <strong>A Lenders</strong>
    </div>
    <div class="col-lg-2 align-items-center">		
    <strong>B Lenders</strong>
    </div>        
    <div class="col-lg-2 align-items-center">		
    <strong>C Lenders</strong>
    </div>    
    <div class="col-lg-2 align-items-center">		
    <strong>Private Lenders</strong>
    </div>               
  </div>

  <div class="row">     
      <div class="col-lg-12 align-items-center">		
      <strong>Fixed Rate Mortgage</strong>
      </div>            
  </div>

  <div class="row">     
      <div class="col-lg-2 align-items-center">		
      1 Year
      </div>
      <div class="col-lg-2 align-items-center">		
      2.39%            
      </div>
      <div class="col-lg-2 align-items-center">		
      2.99%          
      </div>        
      <div class="col-lg-2 align-items-center">		
      4.59%         
      </div>    
      <div class="col-lg-2 align-items-center">		
      7.99%       
      </div>               
  </div>
  <div class="row">     
      <div class="col-lg-2 align-items-center">		
      2 Years
      </div>
      <div class="col-lg-2 align-items-center">		
      2.39%            
      </div>
      <div class="col-lg-2 align-items-center">		
      2.99%          
      </div>        
      <div class="col-lg-2 align-items-center">		
      4.59%         
      </div>    
      <div class="col-lg-2 align-items-center">		
      7.99%       
      </div>               
  </div>    
  <div class="row">     
      <div class="col-lg-2 align-items-center">		
      3 Years
      </div>
      <div class="col-lg-2 align-items-center">		
      2.39%            
      </div>
      <div class="col-lg-2 align-items-center">		
      2.99%          
      </div>        
      <div class="col-lg-2 align-items-center">		
      4.59%         
      </div>    
      <div class="col-lg-2 align-items-center">		
      7.99%       
      </div>               
  </div>
  <div class="row">     
      <div class="col-lg-2 align-items-center">		
      4 Years
      </div>
      <div class="col-lg-2 align-items-center">		
      2.39%            
      </div>
      <div class="col-lg-2 align-items-center">		
      2.99%          
      </div>        
      <div class="col-lg-2 align-items-center">		
      4.59%         
      </div>    
      <div class="col-lg-2 align-items-center">		
      7.99%       
      </div>               
  </div>      

  <div class="row">     
      <div class="col-lg-2 align-items-center">		
      5 Years
      </div>
      <div class="col-lg-2 align-items-center">		
      2.39%            
      </div>
      <div class="col-lg-2 align-items-center">		
      2.99%          
      </div>        
      <div class="col-lg-2 align-items-center">		
      4.59%         
      </div>    
      <div class="col-lg-2 align-items-center">		
      7.99%       
      </div>               
  </div>  

  <div class="row">     
      <div class="col-lg-12 align-items-center">		
      <strong>Variable Rate Mortgage</strong>          
      </div>            
  </div>

  <div class="row">     
      <div class="col-lg-2 align-items-center">		
      3 Years
      </div>
      <div class="col-lg-2 align-items-center">		
      2.95%            
      </div>
      <div class="col-lg-2 align-items-center">		
      3.45%         
      </div>        
      <div class="col-lg-2 align-items-center">		
      4.45%        
      </div>    
      <div class="col-lg-2 align-items-center">		
      n/a      
      </div>               
  </div>  

  <div class="row">     
      <div class="col-lg-2 align-items-center">		
      5 Years
      </div>
      <div class="col-lg-2 align-items-center">		
      2.95%            
      </div>
      <div class="col-lg-2 align-items-center">		
      3.45%         
      </div>        
      <div class="col-lg-2 align-items-center">		
      4.45%        
      </div>    
      <div class="col-lg-2 align-items-center">		
      n/a      
      </div>               
  </div> 

  <div class="row">     
      <div class="col-lg-12 align-items-center">		
      <strong>Requirements</strong>
      </div>            
  </div>


  <div class="row">     
      <div class="col-lg-2 align-items-center">		
    
      </div>
      <div class="col-lg-2 align-items-center">		
        <ul>
          <li>GDSR 35% </li>
          <li>TDSR 42% </li>        
        </ul>        
      </div>
      <div class="col-lg-2 align-items-center">		
        <ul>
          <li>GDSR 35% </li>
          <li>TDSR 42% </li>        
        </ul>        
      </div>        
      <div class="col-lg-2 align-items-center">		
          <ul>
              <li>GDSR 35% </li>
              <li>TDSR 42% </li>        
          </ul>            
      </div>    
      <div class="col-lg-2 align-items-center">		
          <ul>
              <li>GDSR 35% </li>
              <li>TDSR 42% </li>        
          </ul>         
      </div>               
  </div> 

</div>

<p></p>
<hr>