<form [formGroup]="formGroup">
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Primary Applicant</mat-panel-title>
        <mat-panel-description>(Required)</mat-panel-description>
      </mat-expansion-panel-header>
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar>
            <i class="fas fa-chevron-right"></i>
          </div>
          <mat-card-title>{{ 'MORTGAGE_BUILDER_QUALIFICATION.PERSONAL_INFO' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="row">
          <mat-form-field class="MortgageBuilder-form-field-form-field col-lg-3 col-md-3 col-6">
            <input matInput type="text" placeholder="{{ 'MORTGAGE_BUILDER_QUALIFICATION.FIRST_NAME' | translate }}" formControlName="firstName" />
          </mat-form-field>
          <mat-form-field class="MortgageBuilder-form-field-form-field col-lg-3 col-md-3 col-6">
            <input matInput type="text" placeholder="{{ 'MORTGAGE_BUILDER_QUALIFICATION.LAST_NAME' | translate }}" formControlName="lastName" />
          </mat-form-field>
          <mat-form-field class="MortgageBuilder-form-field-form-field col-lg-3 col-md-3 col-6">
            <input matInput type="email" placeholder="{{ 'MORTGAGE_BUILDER_QUALIFICATION.EMAIL' | translate }}" formControlName="emailAddress" />
          </mat-form-field>
          <mat-form-field class="MortgageBuilder-form-field-form-field col-lg-3 col-md-3 col-6">
            <input matInput type="tel" placeholder="{{ 'MORTGAGE_BUILDER_QUALIFICATION.NUMBER' | translate }}" formControlName="contactNumber" />
          </mat-form-field>
          <mat-form-field class="MortgageBuilder-form-field-form-field col-lg-3 col-md-3 col-6">
            <input matInput type="text" placeholder="{{ 'MORTGAGE_BUILDER_QUALIFICATION.ADDRESS' | translate }}" formControlName="streetAddress" />
          </mat-form-field>
          <mat-form-field class="MortgageBuilder-form-field-form-field col-lg-3 col-md-3 col-6">
            <input matInput type="text" placeholder="{{ 'MORTGAGE_BUILDER_QUALIFICATION.CITY' | translate }}" formControlName="city" />
          </mat-form-field>
          <mat-form-field class="col-lg-3 col-md-3 col-6">
            <mat-select placeholder="{{ 'MORTGAGE_BUILDER_QUALIFICATION.PROVINCE' | translate }}" formControlName="province">
              <mat-option *ngFor="let option of province" [value]="option">{{option | translate}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="MortgageBuilder-form-field-form-field col-lg-3 col-md-3 col-6">
            <input matInput type="text" placeholder="{{ 'MORTGAGE_BUILDER_QUALIFICATION.POSTAL_CODE' | translate }}" formControlName="postalCode" />
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions></mat-card-actions>
        <mat-card-footer></mat-card-footer>
      </mat-card>
      <p></p>
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar>
            <i class="fas fa-chevron-right"></i>
          </div>
          <mat-card-title>{{ 'MORTGAGE_BUILDER_QUALIFICATION.JOB_REF' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="MortgageBuilder-form-field-form-field col-lg-4 col-md-4 col-12">
            <input matInput type="text" placeholder="{{ 'MORTGAGE_BUILDER_QUALIFICATION.JOB_TITLE' | translate }}" formControlName="jobTitle" />
          </mat-form-field>
          <mat-form-field class="MortgageBuilder-form-field-form-field col-lg-4 col-md-4 col-12">
            <input matInput type="number" placeholder="{{ 'MORTGAGE_BUILDER_QUALIFICATION.INCOME_YR' | translate }}" formControlName="annualIncome" />
          </mat-form-field>
          <mat-form-field class="MortgageBuilder-form-field-form-field col-lg-4 col-md-4 col-12">
            <mat-select placeholder="{{ 'MORTGAGE_BUILDER_QUALIFICATION.INCOME_TYPE' | translate }}" formControlName="jobIncomeType">
              <mat-option *ngFor="let option of jobIncomeType" [value]="option">{{option | translate}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions></mat-card-actions>
        <mat-card-footer></mat-card-footer>
      </mat-card>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel (opened)="secondaryApplicant = true" (closed)="secondaryApplicant = false">
      <mat-expansion-panel-header>
        <mat-panel-title>Secondary Applicant</mat-panel-title>
        <mat-panel-description>{{secondaryApplicant ? 'Included' : 'Optional'}}</mat-panel-description>
      </mat-expansion-panel-header>
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar>
            <i class="fas fa-chevron-right"></i>
          </div>
          <mat-card-title>{{ 'MORTGAGE_BUILDER_QUALIFICATION.PERSONAL_INFO' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="row">
          <mat-form-field class="MortgageBuilder-form-field-form-field col-lg-3 col-md-3 col-6">
            <input matInput type="text" placeholder="{{ 'MORTGAGE_BUILDER_QUALIFICATION.FIRST_NAME' | translate }}" formControlName="firstName2nd" />
          </mat-form-field>
          <mat-form-field class="MortgageBuilder-form-field-form-field col-lg-3 col-md-3 col-6">
            <input matInput type="text" placeholder="{{ 'MORTGAGE_BUILDER_QUALIFICATION.LAST_NAME' | translate }}" formControlName="lastName2nd" />
          </mat-form-field>
          <mat-form-field class="MortgageBuilder-form-field-form-field col-lg-3 col-md-3 col-6">
            <input matInput type="email" placeholder="{{ 'MORTGAGE_BUILDER_QUALIFICATION.EMAIL' | translate }}" formControlName="emailAddress2nd" />
          </mat-form-field>
          <mat-form-field class="MortgageBuilder-form-field-form-field col-lg-3 col-md-3 col-6">
            <input matInput type="tel" placeholder="{{ 'MORTGAGE_BUILDER_QUALIFICATION.NUMBER' | translate }}" formControlName="contactNumber2nd" />
          </mat-form-field>
          <mat-form-field class="MortgageBuilder-form-field-form-field col-lg-3 col-md-3 col-6">
            <input matInput type="text" placeholder="{{ 'MORTGAGE_BUILDER_QUALIFICATION.ADDRESS' | translate }}" formControlName="streetAddress2nd" />
          </mat-form-field>
          <mat-form-field class="MortgageBuilder-form-field-form-field col-lg-3 col-md-3 col-6">
            <input matInput type="text" placeholder="{{ 'MORTGAGE_BUILDER_QUALIFICATION.CITY' | translate }}" formControlName="city2nd" />
          </mat-form-field>
          <mat-form-field class="col-lg-3 col-md-3 col-6">
            <mat-select placeholder="{{ 'MORTGAGE_BUILDER_QUALIFICATION.PROVINCE' | translate }}" formControlName="province2nd">
              <mat-option *ngFor="let option of province" [value]="option">{{option | translate}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="MortgageBuilder-form-field-form-field col-lg-3 col-md-3 col-6">
            <input matInput type="text" placeholder="{{ 'MORTGAGE_BUILDER_QUALIFICATION.POSTAL_CODE' | translate }}" formControlName="postalCode2nd" />
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions></mat-card-actions>
        <mat-card-footer></mat-card-footer>
      </mat-card>
      <p></p>
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar>
            <i class="fas fa-chevron-right"></i>
          </div>
          <mat-card-title>{{ 'MORTGAGE_BUILDER_QUALIFICATION.JOB_REF' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="MortgageBuilder-form-field-form-field col-lg-4 col-md-4 col-12">
            <input matInput type="text" placeholder="{{ 'MORTGAGE_BUILDER_QUALIFICATION.JOB_TITLE' | translate }}" formControlName="jobTitle2nd" />
          </mat-form-field>
          <mat-form-field class="MortgageBuilder-form-field-form-field col-lg-4 col-md-4 col-12">
            <input matInput type="number" placeholder="{{ 'MORTGAGE_BUILDER_QUALIFICATION.INCOME_YR' | translate }}" formControlName="annualIncome2nd" />
          </mat-form-field>
          <mat-form-field class="MortgageBuilder-form-field-form-field col-lg-4 col-md-4 col-12">
            <mat-select placeholder="{{ 'MORTGAGE_BUILDER_QUALIFICATION.INCOME_TYPE' | translate }}" formControlName="jobIncomeType2nd">
              <mat-option *ngFor="let option of jobIncomeType" [value]="option">{{option | translate}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions></mat-card-actions>
        <mat-card-footer></mat-card-footer>
      </mat-card>
    </mat-expansion-panel>
  </mat-accordion>
  <p></p>
  <div>
    <button mat-raised-button matStepperPrevious>{{ 'MORTGAGE_BUILDER_QUALIFICATION.BACK_BUTTON' | translate }}</button>
    <button mat-raised-button matStepperNext color="primary" (click)="save()" [disabled]="formGroup.invalid">{{ 'MORTGAGE_BUILDER_QUALIFICATION.NEXT_BUTTON' | translate }}</button>
  </div>
</form>