input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

.example-right-align {
  -moz-appearance: textfield;
  text-align: center;
  vertical-align: middle;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  flex-grow: 1;
}

.box {
  border:1px transparent solid;
  height: 17%;
  width: 100%;
  font-size: 80%;
  padding: 10% 5% 5%;
  margin: 5px;
  flex: 1;
  text-align: right;
  vertical-align: middle;
}

.col-container {
  display: flex table-row;
  width: 100%;
  height: 100%;
}

@media (min-width: 401px) {
  .welcome {
    position: relative;
    height: 50vh;
    min-height: 300px;
    background: url("../../../assets/images/rawpixel-602154-unsplash.jpg") no-repeat bottom center fixed;
    background-size: cover;
  }  
}

@media (max-width: 400px) {
  .welcome {
    position: relative;
    height: 50vh;
    min-height: 150px;
    background: url("../../../assets/images/rawpixel-602154-unsplash_mobile.jpg") no-repeat bottom center fixed;
    background-size: cover;
  }  
}