input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

.example-right-align {
  -moz-appearance: textfield;
  text-align: center;
}




@media (min-width: 401px) {
  .welcome {
    position: relative;
    height: 50vh;
    min-height: 300px;
    background: url("../../../assets/images/rawpixel-602154-unsplash.jpg") no-repeat bottom center fixed;
    background-size: cover;
  }  
}

@media (max-width: 400px) {
  .welcome {
    position: relative;
    height: 50vh;
    min-height: 150px;
    background: url("../../../assets/images/rawpixel-602154-unsplash_mobile.jpg") no-repeat bottom center fixed;
    background-size: cover;
  }  
}