<div class="welcome d-flex justify-content-center flex-column">
	<div class="inner-wrapper mt-auto mb-auto container">
		<div class="row">
			<div class="col-12">
				<h1 class="welcome-heading display-4 text-white">MeeFinancial </h1>
				<h1 class="welcome-heading display-8 text-white">- DIY Mortgage Backed by a Full Service Team</h1>
				<p class="text-white">Tech Savvy Online Mortgage Specialist with Canada's Best Rates, helping you get the product that is best suited for your needs.</p>
				<!-- <a href="#our-services" class="btn btn-lg btn-outline-white btn-pill align-self-center">Start My DIY Mortgage</a> -->
			</div>
		</div>
	</div>
</div>

<div class="container">

	<h1>Mortgage Payment Calculator</h1>
	Our mortgage payment calculator calculates your monthly payment and shows you the corresponding amortization schedule. If you are purchasing a home, our payment calculator allows you to test down payment and amortization scenarios, and compare variable and fixed mortgage rates. We also help you calculate CMHC insurance and land transfer tax.
	
	<hr>

	<form [formGroup]="monthlyPaymentCalculatorForm" (ngSubmit)="onSubmit()">
		<div class="row">
			<div class="col-12">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-12"><h2>Asking Price: </h2></div>
					<mat-form-field class="col-lg-6 col-md-6 col-8">
						<input matInput placeholder="Asking Price" type="number" class="example-right-align" formControlName="askingPrice">
						<span matPrefix>$&nbsp;</span>
						<span matSuffix>.00</span>
					</mat-form-field>
					<div class="col-lg-3 col-md-3 col-4" style="margin-top: auto; margin-bottom: auto; text-align: center;"><button mat-raised-button color="primary" class="btn btn-primary btn-pill" name="submit">GO</button></div>
				</div>
			</div>
			<div class="col-12"><br></div>
			<div class="col-12">
				<div class="row" style="margin-top: auto; margin-bottom: auto">
					<div class="col-lg-3 col-md-3 col-5" style="margin-top: auto; margin-bottom: auto">
						<h4 matBadge="?" matBadgePosition="before" matTooltip="The amount of money you pay up front to obtain a mortgage. The minimum down payment in Canada is 5%. For down payments of less than 20%, home buyers are required to purchase mortgage default insurance, commonly referred to as CMHC insurance.">
							Down Payment: 
						</h4>
					</div>
					<div class="col-lg-3 col-md-3 col-7">
						<div class="row">
							<mat-form-field class="example-right-align col-12">
								<input matInput placeholder="Down Payment (%)" type="number" value=5 formControlName="rateDownPayment1">
								<span matSuffix>%</span>
							</mat-form-field>
							<mat-label class="col-12" style="color: red;text-align: center; margin-top: 0; margin-bottom: 2rem">
								${{calDownPayment1}}
							</mat-label>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 d-none d-md-block">
						<div class="row">
							<mat-form-field class="example-right-align col-12">
								<input matInput placeholder="Down Payment (%)" type="number" value=10 formControlName="rateDownPayment2">
								<span matSuffix>%</span>
							</mat-form-field>
							<mat-label class="col-12" style="color: red;text-align: center; margin-top: 0; margin-bottom: 2rem">
								${{calDownPayment2}}
							</mat-label>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 d-none d-md-block">
						<div class="row">
							<mat-form-field class="example-right-align col-12">
								<input matInput placeholder="Down Payment (%)" type="number" value=15 formControlName="rateDownPayment3">
								<span matSuffix>%</span>
							</mat-form-field>
							<mat-label class="col-12" style="color: red;text-align: center; margin-top: 0; margin-bottom: 2rem">
								${{calDownPayment3}}
							</mat-label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="row" style="margin-top: auto; margin-bottom: auto">
					<div class="col-lg-3 col-md-3 col-5" style="margin-top: auto; margin-bottom: auto">
						<h4 matBadge="?" matBadgePosition="before" matTooltip="Mortgage default insurance, commonly referred to as CMHC insurance, protects the lender in the case the borrower defaults on the mortgage. Mortgage default insurance is required on all mortgages with down payments of less than 20%, which are known as high ratio mortgages. Mortgage default insurance is calculated as a percentage applied to your mortgage amount.">
							Mortgage Insurance: 
						</h4>
					</div>
					<div class="col-lg-3 col-md-3 col-7" style="color: red; text-align: center; margin-top: auto; margin-bottom: auto">
						<mat-label>
							${{dftMortgageInsurance1}}
						</mat-label>
					</div>
					<div class="col-lg-3 col-md-3 d-none d-md-block" style="color: red; text-align: center; margin-top: auto; margin-bottom: auto">
						<mat-label>
							${{dftMortgageInsurance2}}
						</mat-label>
					</div>
					<div class="col-lg-3 col-md-3 d-none d-md-block" style="color: red; text-align: center; margin-top: auto; margin-bottom: auto">
						<mat-label>
							${{dftMortgageInsurance3}}
						</mat-label>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="row" style="margin-top: auto; margin-bottom: auto">
					<div class="col-lg-3 col-md-3 col-5" style="margin-top: auto; margin-bottom: auto">
						<h4>
							Total Mortgage Required: 
						</h4>
					</div>
					<div class="col-lg-3 col-md-3 col-7" style="color: red; text-align: center; margin-top: auto; margin-bottom: auto">
						<mat-label>
							${{reqTotalMortgage1}}
						</mat-label>
					</div>
					<div class="col-lg-3 col-md-3 d-none d-md-block" style="color: red; text-align: center; margin-top: auto; margin-bottom: auto">
						<mat-label>
							${{reqTotalMortgage2}}
						</mat-label>
					</div>
					<div class="col-lg-3 col-md-3 d-none d-md-block" style="color: red; text-align: center; margin-top: auto; margin-bottom: auto">
						<mat-label>
							${{reqTotalMortgage3}}
						</mat-label>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="row" style="margin-top: auto; margin-bottom: auto">
					<div class="col-lg-3 col-md-3 col-5" style="margin-top: auto; margin-bottom: auto">
						<h4 matBadge="?" matBadgePosition="before" matTooltip="The length of time it will take a homeowner to pay off his/her mortgage. 
						In Canada, the maximum amortization period for insurable mortgages is 25 years. 
						Longer amortization periods allow homeowners to make smaller monthly payments, but equate to more interest paid over the life of the mortgage.">
							Amortization Period: 
						</h4>
					</div>
					<div class="col-lg-3 col-md-3 col-7" style="margin-top: auto; margin-bottom: auto">
						<mat-form-field class="example-right-align col-12">
							<input matInput placeholder="Amortization Period (years)" type="number" value=5 formControlName="yrsAmortizationPeriod1">
							<span matSuffix>yrs</span>
						</mat-form-field>
					</div>
					<div class="col-lg-3 col-md-3 d-none d-md-block" style="margin-top: auto; margin-bottom: auto">
						<mat-form-field class="example-right-align col-12">
							<input matInput placeholder="Amortization Period (years)" type="number" value=15 formControlName="yrsAmortizationPeriod2">
							<span matSuffix>yrs</span>
						</mat-form-field>
					</div>
					<div class="col-lg-3 col-md-3 d-none d-md-block" style="margin-top: auto; margin-bottom: auto">
						<mat-form-field class="example-right-align col-12">
							<input matInput placeholder="Amortization Period (years)" type="number" value=25 formControlName="yrsAmortizationPeriod3">
							<span matSuffix>yrs</span>
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="row" style="margin-top: auto; margin-bottom: auto">
					<div class="col-lg-3 col-md-3 col-5" style="margin-top: auto; margin-bottom: auto">
						<h4 matBadge="?" matBadgePosition="before" matTooltip="The rate of interest you will pay on the outstanding balance of your mortgage. This is determined by the mortgage type and mortgage provider. Until you have been approved for the mortgage, the rate can change at anytime.">
							Mortgage Rate: 
						</h4>
					</div>
					<div class="col-lg-3 col-md-3 col-7" style="margin-top: auto; margin-bottom: auto">
						<mat-form-field class="example-right-align col-12">
							<input matInput placeholder="Mortgage Rate (%)" type="number" value=3.08 formControlName="rateMortgage1">
							<span matSuffix>%</span>
						</mat-form-field>
					</div>
					<div class="col-lg-3 col-md-3 d-none d-md-block" style="margin-top: auto; margin-bottom: auto">
						<mat-form-field class="example-right-align col-12">
							<input matInput placeholder="Mortgage Rate (%)" type="number" value=3.08 formControlName="rateMortgage2">
							<span matSuffix>%</span>
						</mat-form-field>
					</div>
					<div class="col-lg-3 col-md-3 d-none d-md-block" style="margin-top: auto; margin-bottom: auto">
						<mat-form-field class="example-right-align col-12">
							<input matInput placeholder="Mortgage Rate (%)" type="number" value=3.08 formControlName="rateMortgage3">
							<span matSuffix>%</span>
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="row" style="margin-top: auto; margin-bottom: auto">
					<div class="col-lg-3 col-md-3 col-5" style="margin-top: auto; margin-bottom: auto">
						<h4>
							Estimated Monthly Payment: 
						</h4>
					</div>
					<div class="col-lg-3 col-md-3 col-7" style="margin-top: auto; margin-bottom: auto; color: red; text-align: center">
						<mat-label>
							${{estMonthlyPayment1}}
						</mat-label>
					</div>
					<div class="col-lg-3 col-md-3 d-none d-md-block" style="margin-top: auto; margin-bottom: auto; color: red; text-align: center">
						<mat-label>
							${{estMonthlyPayment2}}
						</mat-label>
					</div>
					<div class="col-lg-3 col-md-3 d-none d-md-block" style="margin-top: auto; margin-bottom: auto; color: red; text-align: center">
						<mat-label>
							${{estMonthlyPayment3}}
						</mat-label>
					</div>
				</div>
			</div>
		</div>
		<!-- <table width="100%">
			<tr>
				<td>
					<h2>Asking Price: </h2>
				</td>
				<td>
					<mat-form-field>
						<input matInput placeholder="Asking Price" type="number" class="example-right-align" formControlName="askingPrice">
						<span matPrefix>$&nbsp;</span>
						<span matSuffix>.00</span>
					</mat-form-field>
				</td>
				<td></td>
				<td>
					<button mat-raised-button color="primary" class="btn btn-primary btn-pill" name="submit">GO</button>		
				</td>
			</tr>
			<br>
			<tr>
				<td>
					<h4 matBadge="?" matBadgePosition="before" matTooltip="The amount of money you pay up front to obtain a mortgage. The minimum down payment in Canada is 5%. For down payments of less than 20%, home buyers are required to purchase mortgage default insurance, commonly referred to as CMHC insurance.">
						Down Payment: 
					</h4>
				</td>
				<td>
					<mat-form-field class="example-right-align">
						<input matInput placeholder="Down Payment 1 (%)" type="number" value=5 formControlName="rateDownPayment1">
						<span matSuffix>%</span>
					</mat-form-field>
				</td>
				<td>
					<mat-form-field class="example-right-align">
						<input matInput placeholder="Down Payment 2 (%)" type="number" value=10 formControlName="rateDownPayment2">
						<span matSuffix>%</span>
					</mat-form-field>
				</td>
				<td>
					<mat-form-field class="example-right-align">
						<input matInput placeholder="Down Payment 3 (%)" type="number" value=15 formControlName="rateDownPayment3">
						<span matSuffix>%</span>
					</mat-form-field>
				</td>
			</tr>
			<tr style="color: red;text-align: center">
				<td></td>
				<td>
					<mat-label>
						${{calDownPayment1}}
					</mat-label>
				</td>
				<td>
					<mat-label>
						${{calDownPayment2}}
					</mat-label>
				</td>
				<td>
					<mat-label>
						${{calDownPayment3}}
					</mat-label>
				</td>
			</tr>
			<br>
			<tr>
				<td>
					<h4 matBadge="?" matBadgePosition="before" matTooltip="Mortgage default insurance, commonly referred to as CMHC insurance, protects the lender in the case the borrower defaults on the mortgage. Mortgage default insurance is required on all mortgages with down payments of less than 20%, which are known as high ratio mortgages. Mortgage default insurance is calculated as a percentage applied to your mortgage amount.">
						Mortgage Insurance: 
					</h4>
				</td>
				<td style="color: red;text-align: center">
					<mat-label>
						${{dftMortgageInsurance1}}
					</mat-label>
				</td>
				<td style="color: red;text-align: center">
					<mat-label>
						${{dftMortgageInsurance2}}
					</mat-label>
				</td>
				<td style="color: red;text-align: center">
					<mat-label>
						${{dftMortgageInsurance3}}
					</mat-label>
				</td>
			</tr>
			<br>
			<tr>
				<td>
					<h4>
						Total Mortgage Required: 
					</h4>
				</td>
				<td style="color: red;text-align: center">
					<mat-label>
						${{reqTotalMortgage1}}
					</mat-label>
				</td>
				<td style="color: red;text-align: center">
					<mat-label>
						${{reqTotalMortgage2}}
					</mat-label>
				</td>
				<td style="color: red;text-align: center">
					<mat-label>
						${{reqTotalMortgage3}}
					</mat-label>
				</td>
			</tr>
			<br>
			<tr>
				<td>
					<h4 matBadge="?" matBadgePosition="before" matTooltip="The length of time it will take a homeowner to pay off his/her mortgage. 
					In Canada, the maximum amortization period for insurable mortgages is 25 years. 
					Longer amortization periods allow homeowners to make smaller monthly payments, but equate to more interest paid over the life of the mortgage.">
						Amortization Period: 
					</h4>
				</td>
				<td>
					<mat-form-field class="example-right-align">
						<input matInput placeholder="Amortization Period 1 (years)" type="number" value=5 formControlName="yrsAmortizationPeriod1">
						<span matSuffix>yrs</span>
					</mat-form-field>
				</td>
				<td>
					<mat-form-field class="example-right-align">
						<input matInput placeholder="Amortization Period 2 (years)" type="number" value=15 formControlName="yrsAmortizationPeriod2">
						<span matSuffix>yrs</span>
					</mat-form-field>
				</td>
				<td>
					<mat-form-field class="example-right-align">
						<input matInput placeholder="Amortization Period 3 (years)" type="number" value=25 formControlName="yrsAmortizationPeriod3">
						<span matSuffix>yrs</span>
					</mat-form-field>
				</td>
			</tr>
			<tr></tr>
			<tr>
				<td>
					<h4 matBadge="?" matBadgePosition="before" matTooltip="The rate of interest you will pay on the outstanding balance of your mortgage. This is determined by the mortgage type and mortgage provider. Until you have been approved for the mortgage, the rate can change at anytime.">
						Mortgage Rate: 
					</h4>
				</td>
				<td>
					<mat-form-field class="example-right-align">
						<input matInput placeholder="Mortgage Rate 1 (%)" type="number" value=3.08 formControlName="rateMortgage1">
						<span matSuffix>%</span>
					</mat-form-field>
				</td>
				<td>
					<mat-form-field class="example-right-align">
						<input matInput placeholder="Mortgage Rate 2 (%)" type="number" value=3.08 formControlName="rateMortgage2">
						<span matSuffix>%</span>
					</mat-form-field>
				</td>
				<td>
					<mat-form-field class="example-right-align">
						<input matInput placeholder="Mortgage Rate 3 (%)" type="number" value=3.08 formControlName="rateMortgage3">
						<span matSuffix>%</span>
					</mat-form-field>
				</td>
			</tr>
			<tr></tr>
			<tr>
				<td>
					<h4>
						Estimated Monthly Payment: 
					</h4>
				</td>
				<td style="color: red;text-align: center">
					<mat-label>
						${{estMonthlyPayment1}}
					</mat-label>
				</td>
				<td style="color: red;text-align: center">
					<mat-label>
						${{estMonthlyPayment2}}
					</mat-label>
				</td>
				<td style="color: red;text-align: center">
					<mat-label>
						${{estMonthlyPayment3}}
					</mat-label>
				</td>
			</tr>
			<br>
		</table> -->
	</form>

	<!-- 
	The mortgage type includes the term of the mortgage, between 1-10 years, and the rate type, variable or fixed. The mortgage term is the length of time you commit to the terms, conditions and mortgage rate with a specific lender. The mortgage rate type can be fixed for the duration of the term or variable, fluctuating with the prime rate. Fixed rates are most popular in Canada and represent 66% of all mortgages, according to the Canadian Association of Accredited Mortgage Professionals (CAAMP).
	The monthly mortgage payment is calculated based on the inputs you provided: the mortgage amount, rate type (fixed or variable), term, amortization period, and payment frequency. 
	A general affordability rule, as outlined by the Canada Mortgage and Housing Corporation, is that your monthly housing costs should not exceed 32% of your gross household monthly income. -->

</div>

<app-contact-us></app-contact-us>
<app-footer></app-footer>