/* table, th, td {
    border: 1px solid black;
} */

.monthlyPaymentCalc {
    position: relative;
    height: 100vh;
    min-height: 700px;
    background: url("../../../assets/images/rawpixel-594848-unsplash.jpg") no-repeat center center fixed;
    background-size: cover;
  }