<app-header></app-header>

<div class="welcome d-flex justify-content-center flex-column">
	<div class="inner-wrapper mt-auto mb-auto container">
		<div class="row">
			<div class="col-12">
				<h1 class="welcome-heading display-4 text-white">{{ 'CALCULATOR_MONTHLY_PAYMENT.MONTHLY_PAYMENT_TITLE' | translate }}</h1>
				
				<p class="text-white">{{ 'CALCULATOR_MONTHLY_PAYMENT.MONTHLY_PAYMENT_INTRO' | translate }}</p>
				<!-- <a href="#our-services" class="btn btn-lg btn-outline-white btn-pill align-self-center">Start My DIY Mortgage</a> -->
			</div>
		</div>
	</div>
</div>
<p></p>
<div class="container">

	<h1>{{ 'CALCULATOR_MONTHLY_PAYMENT.MONTHLY_PAYMENT_CALCULATOR_TITLE' | translate }}</h1>
	{{ 'CALCULATOR_MONTHLY_PAYMENT.MONTHLY_PAYMENT_CALCULATOR_DETAILS' | translate }}
	
	<hr>

	<form [formGroup]="monthlyPaymentCalculatorForm" (ngSubmit)="onSubmit()">
		<div class="row">
			<div class="col-12">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-12">
						<h2>{{ 'CALCULATOR_MONTHLY_PAYMENT.ASKING_PRICE_TITLE' | translate }}</h2>
					</div>
					<mat-form-field class="col-lg-6 col-md-6 col-8">
						<input matInput placeholder="{{ 'CALCULATOR_MONTHLY_PAYMENT.ASKING_PRICE_PLACEHOLD' | translate }}" type="number" class="example-right-align" formControlName="askingPrice">
						<span matPrefix>$&nbsp;</span>
						<span matSuffix></span>
					</mat-form-field>
					<div class="col-lg-3 col-md-3 col-4" style="margin-top: auto; margin-bottom: auto; text-align: center;"><button mat-raised-button color="primary" class="btn btn-primary btn-pill" name="submit">{{ 'CALCULATOR_MONTHLY_PAYMENT.SUBMIT_BUTTON' | translate }}</button></div>
				</div>
			</div>
			<div class="col-12"><br></div>
			<div class="row">
				<div class="col-container col-lg-3 col-md-3 col-6 pl-3 pr-3" style="height: 90%;">
					<div class="box">
						<h5 matBadge="i" matBadgePosition="after" matTooltip="{{ 'CALCULATOR_MONTHLY_PAYMENT.DOWN_PAY_TOOLTIPTXT' | translate }}"><p>{{ 'CALCULATOR_MONTHLY_PAYMENT.DOWN_PAY_TITLE' | translate }}</p></h5>
					</div>
					<div class="box">
						<h5 matBadge="i" matBadgePosition="after" matTooltip="{{ 'CALCULATOR_MONTHLY_PAYMENT.MORTGAGE_INSURANCE_TOOLTIPTXT' | translate }}"><p>{{ 'CALCULATOR_MONTHLY_PAYMENT.MORTGAGE_INSURANCE_TITLE' | translate }}</p></h5>
					</div>
					<div class="box">
						<h5><p>{{ 'CALCULATOR_MONTHLY_PAYMENT.TOTAL_MORTGAGE_REQ_TITLE' | translate }}</p></h5>
					</div>
					<div class="box">
						<h5 matBadge="i" matBadgePosition="after" matTooltip="{{ 'CALCULATOR_MONTHLY_PAYMENT.AMORTIZATION_PERIOD_TOOLTIPTXT' | translate }}"><p>{{ 'CALCULATOR_MONTHLY_PAYMENT.AMORTIZATION_PERIOD_TITLE' | translate }}</p></h5>
					</div>
					<div class="box">						
						<h5 matBadge="i" matBadgePosition="after" matTooltip="{{ 'CALCULATOR_MONTHLY_PAYMENT.MORTGAGE_RATE_TOOLTIPTXT' | translate }}"><p>{{ 'CALCULATOR_MONTHLY_PAYMENT.MORTGAGE_RATE_TITLE' | translate }}</p></h5>
					</div>
					<div class="box">
						<h5><p>{{ 'CALCULATOR_MONTHLY_PAYMENT.EST_MONTH_PAY_TITLE' | translate }}</p></h5>
					</div>
				</div>
				<div class="col-container col-lg-3 col-md-3 col-6 pl-2 d-none d-md-block" style="height: 90%;">
					<mat-card class="box">
						<mat-form-field class="example-right-align col-12">
							<input matInput placeholder="{{ 'CALCULATOR_MONTHLY_PAYMENT.DOWN_PAY_PLACEHOLD' | translate }}" type="number" value=5 formControlName="rateDownPayment1">
							<span matSuffix>%</span>
							<mat-hint align="end">{{calDownPayment1 | currency:'USD':true:'1.0-0'}}</mat-hint>
						</mat-form-field>
					</mat-card>
					<mat-card class="box">
						<h4 class="example-right-align col-12">{{dftMortgageInsurance1 | currency:'USD':true:'1.0-0'}}</h4>
					</mat-card>
					<mat-card class="box">
						<h4 class="example-right-align col-12">{{reqTotalMortgage1 | currency:'USD':true:'1.0-0'}}</h4>
					</mat-card>
					<mat-card class="box">
						<mat-form-field class="example-right-align col-12">
							<input matInput placeholder="{{ 'CALCULATOR_MONTHLY_PAYMENT.AMORTIZATION_PERIOD_PLACEHOLD' | translate }}" type="number" value=5 formControlName="yrsAmortizationPeriod1">
							<span matSuffix>{{ 'CALCULATOR_MONTHLY_PAYMENT.SUFFIX_YR' | translate }}</span>
						</mat-form-field>
					</mat-card>
					<mat-card class="box">
						<mat-form-field class="example-right-align col-12">
							<input matInput placeholder="{{ 'CALCULATOR_MONTHLY_PAYMENT.MORTGAGE_RATE_PLACEHOLD' | translate }}" type="number" value=3.08 formControlName="rateMortgage1">
							<span matSuffix>%</span>
						</mat-form-field>
					</mat-card>
					<mat-card class="box">
						<h4 class="example-right-align col-12">{{estMonthlyPayment1 | currency:'USD':true:'1.0-0'}}</h4>
					</mat-card>
				</div>
				<div class="col-container col-lg-3 col-md-3 col-6 pl-0 d-none d-md-block" style="height: 90%;">
					<mat-card class="box">
						<mat-form-field class="example-right-align col-12">
							<input matInput placeholder="{{ 'CALCULATOR_MONTHLY_PAYMENT.DOWN_PAY_PLACEHOLD' | translate }}" type="number" value=10 formControlName="rateDownPayment2">
							<span matSuffix>%</span>
							<mat-hint align="end">{{calDownPayment2 | currency:'USD':true:'1.0-0'}}</mat-hint>
						</mat-form-field>
					</mat-card>
					<mat-card class="box">
						<h4 class="example-right-align col-12">{{dftMortgageInsurance2 | currency:'USD':true:'1.0-0'}}</h4>
					</mat-card>
					<mat-card class="box">
						<h4 class="example-right-align col-12">{{reqTotalMortgage2 | currency:'USD':true:'1.0-0'}}</h4>
					</mat-card>
					<mat-card class="box">
						<mat-form-field class="example-right-align col-12">
							<input matInput placeholder="{{ 'CALCULATOR_MONTHLY_PAYMENT.AMORTIZATION_PERIOD_PLACEHOLD' | translate }}" type="number" value=15 formControlName="yrsAmortizationPeriod2">
							<span matSuffix>{{ 'CALCULATOR_MONTHLY_PAYMENT.SUFFIX_YR' | translate }}</span>
						</mat-form-field>
					</mat-card>
					<mat-card class="box">
						<mat-form-field class="example-right-align col-12">
							<input matInput placeholder="{{ 'CALCULATOR_MONTHLY_PAYMENT.MORTGAGE_RATE_PLACEHOLD' | translate }}" type="number" value=3.08 formControlName="rateMortgage2">
							<span matSuffix>%</span>
						</mat-form-field>
					</mat-card>
					<mat-card class="box">
						<h4 class="example-right-align col-12">{{estMonthlyPayment2 | currency:'USD':true:'1.0-0'}}</h4>
					</mat-card>
				</div>
				<div class="col-container col-lg-3 col-md-3 col-6 pl-0 pr-5" style="height: 90%;">
					<mat-card class="box">
						<mat-form-field class="example-right-align col-12">
							<input matInput placeholder="{{ 'CALCULATOR_MONTHLY_PAYMENT.DOWN_PAY_PLACEHOLD' | translate }}" type="number" value=15 formControlName="rateDownPayment3">
							<span matSuffix>%</span>
							<mat-hint align="end">{{calDownPayment3 | currency:'USD':true:'1.0-0'}}</mat-hint>
						</mat-form-field>
					</mat-card>
					<mat-card class="box">
						<h4 class="example-right-align col-12">{{dftMortgageInsurance3 | currency:'USD':true:'1.0-0'}}</h4>
					</mat-card>
					<mat-card class="box">
						<h4 class="example-right-align col-12">{{reqTotalMortgage3 | currency:'USD':true:'1.0-0'}}</h4>
					</mat-card>
					<mat-card class="box">
						<mat-form-field class="example-right-align col-12">
							<input matInput placeholder="{{ 'CALCULATOR_MONTHLY_PAYMENT.AMORTIZATION_PERIOD_PLACEHOLD' | translate }}" type="number" value=25 formControlName="yrsAmortizationPeriod3">
							<span matSuffix>{{ 'CALCULATOR_MONTHLY_PAYMENT.SUFFIX_YR' | translate }}</span>
						</mat-form-field>
					</mat-card>
					<mat-card class="box">
						<mat-form-field class="example-right-align col-12">
							<input matInput placeholder="{{ 'CALCULATOR_MONTHLY_PAYMENT.MORTGAGE_RATE_PLACEHOLD' | translate }}" type="number" value=3.08 formControlName="rateMortgage3">
							<span matSuffix>%</span>
						</mat-form-field>
					</mat-card>
					<mat-card class="box">
						<h4 class="example-right-align col-12">{{estMonthlyPayment3 | currency:'USD':true:'1.0-0'}}</h4>
					</mat-card>
				</div>
			</div>
			<!-- <div class="col-lg-3 col-md-3 d-none d-md-block">
			</div>
			<div class="col-lg-3 col-md-3 d-none d-md-block">
			</div> -->
			<!-- <div class="col-12">
				<div class="row" style="margin-top: auto; margin-bottom: auto;">
					<div class="col-lg-3 col-md-3 col-5" style="margin-top: auto; margin-bottom: auto">
						<h4 matBadge="i" matBadgePosition="before" matTooltip="{{ 'CALCULATOR_MONTHLY_PAYMENT.DOWN_PAY_TOOLTIPTXT' | translate }}">
							<p>{{ 'CALCULATOR_MONTHLY_PAYMENT.DOWN_PAY_TITLE' | translate }}</p>
						</h4>
					</div>
					<div class="col-lg-3 col-md-3 col-7">
						<div class="row">
							<mat-form-field class="example-right-align col-12">
								<input matInput placeholder="{{ 'CALCULATOR_MONTHLY_PAYMENT.DOWN_PAY_PLACEHOLD' | translate }}" type="number" value=5 formControlName="rateDownPayment1">
								<span matSuffix>%</span>
							</mat-form-field>
							<mat-label class="col-12" style="color: red;text-align: center; margin-top: 0; margin-bottom: 2rem">
								${{calDownPayment1}}
							</mat-label>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 d-none d-md-block">
						<div class="row">
							<mat-form-field class="example-right-align col-12">
								<input matInput placeholder="{{ 'CALCULATOR_MONTHLY_PAYMENT.DOWN_PAY_PLACEHOLD' | translate }}" type="number" value=10 formControlName="rateDownPayment2">
								<span matSuffix>%</span>
							</mat-form-field>
							<mat-label class="col-12" style="color: red;text-align: center; margin-top: 0; margin-bottom: 2rem">
								${{calDownPayment2}}
							</mat-label>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 d-none d-md-block">
						<div class="row">
							<mat-form-field class="example-right-align col-12">
								<input matInput placeholder="{{ 'CALCULATOR_MONTHLY_PAYMENT.DOWN_PAY_PLACEHOLD' | translate }}" type="number" value=15 formControlName="rateDownPayment3">
								<span matSuffix>%</span>
							</mat-form-field>
							<mat-label class="col-12" style="color: red;text-align: center; margin-top: 0; margin-bottom: 2rem">
								${{calDownPayment3}}
							</mat-label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="row" style="margin-top: auto; margin-bottom: auto">
					<div class="col-lg-3 col-md-3 col-5" style="margin-top: auto; margin-bottom: auto">
						<h4 matBadge="i" matBadgePosition="before" matTooltip="{{ 'CALCULATOR_MONTHLY_PAYMENT.MORTGAGE_INSURANCE_TOOLTIPTXT' | translate }}">
							<p>{{ 'CALCULATOR_MONTHLY_PAYMENT.MORTGAGE_INSURANCE_TITLE' | translate }}</p>
						</h4>
					</div>
					<div class="col-lg-3 col-md-3 col-7" style="color: red; text-align: center; margin-top: auto; margin-bottom: auto">
						<mat-label>
							${{dftMortgageInsurance1}}
						</mat-label>
					</div>
					<div class="col-lg-3 col-md-3 d-none d-md-block" style="color: red; text-align: center; margin-top: auto; margin-bottom: auto">
						<mat-label>
							${{dftMortgageInsurance2}}
						</mat-label>
					</div>
					<div class="col-lg-3 col-md-3 d-none d-md-block" style="color: red; text-align: center; margin-top: auto; margin-bottom: auto">
						<mat-label>
							${{dftMortgageInsurance3}}
						</mat-label>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="row" style="margin-top: auto; margin-bottom: auto">
					<div class="col-lg-3 col-md-3 col-5" style="margin-top: auto; margin-bottom: auto;">
						<h4>
							<p>{{ 'CALCULATOR_MONTHLY_PAYMENT.TOTAL_MORTGAGE_REQ_TITLE' | translate }}</p>
						</h4>
					</div>
					<div class="col-lg-3 col-md-3 col-7" style="color: red; text-align: center; margin-top: auto; margin-bottom: auto">
						<mat-label>
							${{reqTotalMortgage1}}
						</mat-label>
					</div>
					<div class="col-lg-3 col-md-3 d-none d-md-block" style="color: red; text-align: center; margin-top: auto; margin-bottom: auto">
						<mat-label>
							${{reqTotalMortgage2}}
						</mat-label>
					</div>
					<div class="col-lg-3 col-md-3 d-none d-md-block" style="color: red; text-align: center; margin-top: auto; margin-bottom: auto">
						<mat-label>
							${{reqTotalMortgage3}}
						</mat-label>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="row" style="margin-top: auto; margin-bottom: auto">
					<div class="col-lg-3 col-md-3 col-5" style="margin-top: auto; margin-bottom: auto">
						<h4 matBadge="i" matBadgePosition="before" matTooltip="{{ 'CALCULATOR_MONTHLY_PAYMENT.AMORTIZATION_PERIOD_TOOLTIPTXT' | translate }}">
							<p>{{ 'CALCULATOR_MONTHLY_PAYMENT.AMORTIZATION_PERIOD_TITLE' | translate }}</p>
						</h4>
					</div>
					<div class="col-lg-3 col-md-3 col-7" style="margin-top: auto; margin-bottom: auto">
						<mat-form-field class="example-right-align col-12">
							<input matInput placeholder="{{ 'CALCULATOR_MONTHLY_PAYMENT.AMORTIZATION_PERIOD_PLACEHOLD' | translate }}" type="number" value=5 formControlName="yrsAmortizationPeriod1">
							<span matSuffix>{{ 'CALCULATOR_MONTHLY_PAYMENT.SUFFIX_YR' | translate }}</span>
						</mat-form-field>
					</div>
					<div class="col-lg-3 col-md-3 d-none d-md-block" style="margin-top: auto; margin-bottom: auto">
						<mat-form-field class="example-right-align col-12">
							<input matInput placeholder="{{ 'CALCULATOR_MONTHLY_PAYMENT.AMORTIZATION_PERIOD_PLACEHOLD' | translate }}" type="number" value=15 formControlName="yrsAmortizationPeriod2">
							<span matSuffix>{{ 'CALCULATOR_MONTHLY_PAYMENT.SUFFIX_YR' | translate }}</span>
						</mat-form-field>
					</div>
					<div class="col-lg-3 col-md-3 d-none d-md-block" style="margin-top: auto; margin-bottom: auto">
						<mat-form-field class="example-right-align col-12">
							<input matInput placeholder="{{ 'CALCULATOR_MONTHLY_PAYMENT.AMORTIZATION_PERIOD_PLACEHOLD' | translate }}" type="number" value=25 formControlName="yrsAmortizationPeriod3">
							<span matSuffix>{{ 'CALCULATOR_MONTHLY_PAYMENT.SUFFIX_YR' | translate }}</span>
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="row" style="margin-top: auto; margin-bottom: auto">
					<div class="col-lg-3 col-md-3 col-5" style="margin-top: auto; margin-bottom: auto">
						<h4 matBadge="i" matBadgePosition="before" matTooltip="{{ 'CALCULATOR_MONTHLY_PAYMENT.MORTGAGE_RATE_TOOLTIPTXT' | translate }}">
							<p>{{ 'CALCULATOR_MONTHLY_PAYMENT.MORTGAGE_RATE_TITLE' | translate }}</p>
						</h4>
					</div>
					<div class="col-lg-3 col-md-3 col-7" style="margin-top: auto; margin-bottom: auto">
						<mat-form-field class="example-right-align col-12">
							<input matInput placeholder="{{ 'CALCULATOR_MONTHLY_PAYMENT.MORTGAGE_RATE_PLACEHOLD' | translate }}" type="number" value=3.08 formControlName="rateMortgage1">
							<span matSuffix>%</span>
						</mat-form-field>
					</div>
					<div class="col-lg-3 col-md-3 d-none d-md-block" style="margin-top: auto; margin-bottom: auto">
						<mat-form-field class="example-right-align col-12">
							<input matInput placeholder="{{ 'CALCULATOR_MONTHLY_PAYMENT.MORTGAGE_RATE_PLACEHOLD' | translate }}" type="number" value=3.08 formControlName="rateMortgage2">
							<span matSuffix>%</span>
						</mat-form-field>
					</div>
					<div class="col-lg-3 col-md-3 d-none d-md-block" style="margin-top: auto; margin-bottom: auto">
						<mat-form-field class="example-right-align col-12">
							<input matInput placeholder="{{ 'CALCULATOR_MONTHLY_PAYMENT.MORTGAGE_RATE_PLACEHOLD' | translate }}" type="number" value=3.08 formControlName="rateMortgage3">
							<span matSuffix>%</span>
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="row" style="margin-top: auto; margin-bottom: auto">
					<div class="col-lg-3 col-md-3 col-5" style="margin-top: auto; margin-bottom: auto">
						<h4>
							<p>{{ 'CALCULATOR_MONTHLY_PAYMENT.EST_MONTH_PAY_TITLE' | translate }}</p>
						</h4>
					</div>
					<div class="col-lg-3 col-md-3 col-7" style="margin-top: auto; margin-bottom: auto; color: red; text-align: center">
						<mat-label>
							${{estMonthlyPayment1}}
						</mat-label>
					</div>
					<div class="col-lg-3 col-md-3 d-none d-md-block" style="margin-top: auto; margin-bottom: auto; color: red; text-align: center">
						<mat-label>
							${{estMonthlyPayment2}}
						</mat-label>
					</div>
					<div class="col-lg-3 col-md-3 d-none d-md-block" style="margin-top: auto; margin-bottom: auto; color: red; text-align: center">
						<mat-label>
							${{estMonthlyPayment3}}
						</mat-label>
					</div>
				</div>
			</div> -->
		</div>
	</form>
</div>

<app-contact-us></app-contact-us>
<app-footer></app-footer>