<div class="contact section-invert py-4">
  <div class="container">
    <mat-card>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-card-title>{{ 'CONTACT_US.TITLE' | translate }}</mat-card-title>
        <mat-card-content class="contact-us-container">
          <!-- Name -->
          <mat-form-field class="col-12" style="margin-top:2%">
            <input matInput type="text" placeholder="{{ 'CONTACT_US.NAME' | translate }}" formControlName="name" required>
            <mat-error *ngFor="let validation of contact_us_validation_messages.name">
              <mat-error *ngIf="form.get('name').hasError(validation.type) && (form.get('name').dirty || form.get('name').touched)">
                {{ validation.message | translate }}
              </mat-error>
            </mat-error> 
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
          <!-- Email -->
          <mat-form-field class="col-12" style="margin-top:2%">
            <input matInput type="email" placeholder="{{ 'CONTACT_US.EMAIL' | translate }}" formControlName="email" required>
            <mat-error *ngFor="let validation of contact_us_validation_messages.email">
              <mat-error *ngIf="form.get('email').hasError(validation.type) && (form.get('email').dirty || form.get('email').touched)">
                {{ validation.message | translate }}
              </mat-error>
            </mat-error> 
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
          <!-- Message -->
          <mat-form-field class="col-12" style="margin-top:2%">
            <textarea style="height:200px" matInput #message type="text" maxlength="256" placeholder="{{ 'CONTACT_US.MESSAGE' | translate }}" formControlName="message"></textarea>
            <mat-icon matSuffix>translate</mat-icon>
            <mat-hint align="end">{{message.value?.length || 0}}/256</mat-hint>
            <mat-error *ngFor="let validation of contact_us_validation_messages.message">
              <mat-error *ngIf="form.get('message').hasError(validation.type) && (form.get('message').dirty || form.get('message').touched)">
                {{ validation.message | translate }}
              </mat-error>
            </mat-error> 
          </mat-form-field>
          <!-- Submit Button -->
          <button style="margin-top:2%" mat-raised-button color="primary" type="submit" [disabled]="!form.valid">{{ button | translate }}</button>
        </mat-card-content>
      </form>
    </mat-card>
  </div>
  <div class="container">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class=" text-center">
      <a style="width:auto" class="fa fa-wechat" href="assets/images/MeeFinancialQR.png" onClick="MyWindow=window.open('assets/images/MeeFinancialQR.png','MyWindow', width=300, height=300); return false;"></a>
      <a style="width:auto" class="fa fa-envelope" href="mailto:info@meefinancial.ca" target="_blank"></a>
      <a style="width:auto" class="fa fa-facebook" href="https://www.facebook.com/MeeFinancial/" target="_blank"></a>
      <a style="width:auto" class="fa fa-twitter" href="https://twitter.com/MeeFinancial_" target="_blank"></a>
      <a style="width:auto" class="fa fa-instagram" href="https://www.instagram.com/meefinancial" target="_blank"></a>
      <a style="width:auto" class="fa fa-phone" href="tel:4378865683" target="_blank"></a>
    </div>
  </div>
</div>
