<div class="welcome d-flex justify-content-center flex-column">
  <div class="container">
    <h1 class="welcome-heading display-4 text-white">MeeFinancial - DIY Mortgage Backed by a Full Service Team</h1>
    <p class="text-white">Closing costs can be substantial, from lawyer fees to land transfer taxes. </p>
    <a href="#our-services" class="btn btn-lg btn-outline-white btn-pill align-self-center">Calculate The Land  Transfer Tax</a>
  </div>
</div>
<form [formGroup]="affordabilityForm" (ngSubmit)="onSubmit()">
  <div class="affordability_main_grid">
    <h3>Annual Income</h3>
    <div><h3>Living Costs</h3><span>(Check to include the selected field)</span></div>
    <h3>Debt Payments</h3>

    <div class="annual_income_grid" formGroupName="annualIncomeForm">
      <div class="tooltip">
        Annual Income (Before Tax):
        <span class="tooltiptext">Your gross income before-tax, including any bonuses and supplementary income.</span>
      </div>
      <input type="text" inputmode="numeric" min="0.00" name="annualIncome" id="annualIncome" formControlName="annualIncome">
      <div class="tooltip">
        Co-Applicant Income (Before Tax):
        <span class="tooltiptext">Your co-applicant&#039;s before-tax gross income. Your combined income will be used to calculate the mortgage you can afford.</span>
      </div>
      <input type="text" inputmode="numeric" min="0.00" name="coApplicantIncome" id="coApplicantIncome" formControlName="coApplicantIncome">
    </div>

    <div class="living_costs_grid" formGroupName="livingCostsForm">
      <div class="tooltip">
        Property Tax:
        <span class="tooltiptext">An annual tax levied by the municipality in which your home is located. We have used an estimate based on the average in your province.</span>
      </div>
      <input type="text" inputmode="numeric" min="0.00" name="propertyTax" id="propertyTax" formControlName="propertyTax">
      <select id="propertyTaxMonYr">
        <!--<option *ngFor="let propertyTaxMonYr of monyrs" [value]="propertyTaxMonYr.id">{{ propertyTaxMonYr.name }}</option>-->
        <option selected value="month">/Month</option>
        <option value="year">/Year</option>
      </select>
      <input type="checkbox" value="No" name="chkPropertyTax" id="chkPropertyTax" formControlName="chkPropertyTax">
      <div class="tooltip">
        Condo Fees:
        <span class="tooltiptext">Condo fees cover common building expenses and maintenance in multi-unit properties. We have used a default estimate of $300.</span>
      </div>
      <input type="text" inputmode="numeric" min="0.00" name="condoFees" id="condoFees" formControlName="condoFees">
      <select id="condoFeesMonYr">
        <option selected value="month">/Month</option>
        <option value="year">/Year</option>
      </select>
      <input type="checkbox" value="No" name="chkCondoFees" id="chkCondoFees" formControlName="chkCondoFees">
      <div class="tooltip">
        Heating Costs:
        <span class="tooltiptext">The total costs associated with heating your home and water. We have used a default estimate based on provincial averages.</span>
      </div>
      <input type="text" inputmode="numeric" min="0.00" name="heatingCosts" id="heatingCosts" formControlName="heatingCosts">
      <select id="heatingCostsMonYr">
        <option selected value="month">/Month</option>
        <option value="year">/Year</option>
      </select>
      <input type="checkbox" value="No" name="chkHeatingCosts" id="chkHeatingCosts" formControlName="chkHeatingCosts">
    </div>

    <div class="debt_payments_grid" formGroupName="debtPaymentsForm">
      <div class="tooltip">
        Credit Card:
        <span class="tooltiptext">The average monthly interest owed on outstanding credit card balances. This does not include the balances themselves, only the interest portion.</span>
      </div>
      <input type="text" inputmode="numeric" min="0.00" name="creditCard" id="creditCard" formControlName="creditCard">
      <select id="creditCardMonYr">
        <option selected value="month">/Month</option>
        <option value="year">/Year</option>
      </select>
      <div class="tooltip">
        Car Payment:
        <span class="tooltiptext">Your monthly leasing or financing outlay on any household vehicles.</span>
      </div>
      <input type="text" inputmode="numeric" min="0.00" name="carPayment" id="carPayment" formControlName="carPayment">
      <select id="carPaymentMonYr">
        <option selected value="month">/Month</option>
        <option value="year">/Year</option>
      </select>
      <div class="tooltip">
        Other Loan Expenses:
        <span class="tooltiptext">Any other monthly loan expenses, such as lines of credit, student loans, alimony or child support.</span>
      </div>
      <input type="text" inputmode="numeric" min="0.00" name="otherLoanExpenses" id="otherLoanExpenses" formControlName="otherLoanExpenses">
      <select id="otherLoanExpensesMonYr">
        <option selected value="month">/Month</option>
        <option value="year">/Year</option>
      </select>
    </div>

    <div></div><button type="submit" id="submit" name="submit" class="btn btn-primary btn-pill">Calculate</button><div></div>
  </div>
</form>

<hr>

<div  class="affordability_result" style="text-align: left">
  <h3>Max Affordability: <span style="color: red"> {{maxAffordability | currency}} </span> </h3>
  <h3>Down Payment (20%): <span style="color: red"> {{downPayment | currency}} </span> </h3>
  <h3>Total Mortgage Payment per month: <span style="color: green"> {{monthlyMortgagePayment | currency}} </span> </h3>
  <h3>Amortization Period: <span style="color: red"> {{ amortizationPeriod }} years </span> </h3>
  <h3>Mortgage Rate: <span style="color: red"> {{ mortgageRate * 100 }}% </span> </h3>
  <h3>Mortgage Type: <span style="color: red"> {{ mortgageType }} </span> </h3>
</div>

<hr>

<h2> How to estimate affordability</h2>
Lenders look at two ratios when determining the mortgage amount you qualify for, which generally indicate how much you can afford. These ratios are called the Gross Debt Service (GDS) ratio and Total Debt Service (TDS) ratio. They take into account your income, monthly housing costs and overall debt load.

The first affordability rule, as set out by the Canada Mortgage and Housing Corporation (CMHC), is that your monthly housing costs – mortgage principal and interest, taxes and heating expenses (P.I.T.H.) - should not exceed 32% of your gross household monthly income. For condominiums, P.I.T.H. also includes half of your monthly condominium fees. The sum of these housing costs as a percentage of your gross monthly income is your GDS ratio.

The CMHC’s second affordability rule is that your total monthly debt load, including housing costs, should not be more than 40% of your gross monthly income. In addition to housing costs, your total monthly debt load would include credit card interest, car payments, and other loan expenses. The sum of your total monthly debt load as a percentage of your gross household income is your TDS ratio.

Note that while the industry guideline for GDS and TDS is 32% and 40% respectively, most borrowers with good credit and steady income will be allowed to exceed these limits. The maximum allowed is 39% and 44%. The calculator uses these maximums to estimate affordability.

<div class="l-container"><div class="l-half">
    <div class="rh-ratio-block">
      <div class="title">
  Gross Debt Service Ratio    </div><div class="equals">
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-1x"></i>
          <span class="fa-stack-1x" style="top:-2px">
  =        </span>
        </span>
      </div><div class="calculation">
          <div class="dividend">
  Mortgage Principal &amp; Interest + Taxes + Heating Expenses        </div>
          <div class="divisor">
  Annual Income        </div>
      </div>      <div class="footer">
  Ratio should be &lt; 32%      </div>
    </div>
    </div><div class="l-half">
    <div class="rh-ratio-block">
      <div class="title">
  Total Debt Service Ratio    </div><div class="equals">
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-1x"></i>
          <span class="fa-stack-1x" style="top:-2px">
  =        </span>
        </span>
      </div><div class="calculation">
          <div class="dividend">
  Housing Expenses + Credit Card Interest + Car Payments + Loan Expenses        </div>
          <div class="divisor">
  Annual Income        </div>
      </div>      <div class="footer">
  Ratio should be &lt; 40%      </div>
    </div>
    </div></div>

<hr>
<h2>Down Payment</h2>
Your down payment is a benchmark used to determine your maximum affordability. Ignoring income and debt levels, you can determine how much you can afford to spend using a simple calculation:

If your down payment is $25,000 or less, you can find your maximum purchase price using this formula: down payment / 5% = maximum affordability.
If your down payment is $25,001 or more, you can find your maximum purchase price using this formula: down payment amount - $25,000 / 10% + $500,000. For example, if you have saved $50,000 for your down payment, the maximum home price you could afford would be $50,000 - $25,000 = $25,000 / 10% = $250,000 + $500,000 = $750,000.
Any mortgage with less than a 20% down payment is known as a high-ratio mortgage, and requires you to purchase mortgage default insurance, commonly referred to as CMHC insurance.
<hr>

<h2>Cash Requirements & Other Mortgage Qualification Factors </h2>
In addition to your down payment and CMHC insurance, you should set aside 1.5% - 4% of your home's selling price to cover closing costs, which are payable on closing day. Many home buyers forget to account for closing costs in their cash requirement.

In addition to your debt service ratios, down payment, and cash for closing costs, mortgage lenders will also consider your credit history and your income when qualifying you for a mortgage. All of these factors are equally important. For example even if you have good credit, a sizeable down payment, and no debts, but an unstable income, you might have difficulty getting approved for a mortgage.

Keep in mind that the mortgage affordability calculator can only provide an estimate of how much you'll be approved for, and assumes you’re an ideal candidate for a mortgage. To get the most accurate picture of what you qualify for, speak to a mortgage broker about getting a mortgage pre-approval.
<app-contact-us></app-contact-us>
<app-footer></app-footer>
