<app-header></app-header>

<div class="welcome d-flex justify-content-center flex-column">
  <div class="inner-wrapper mt-auto mb-auto container">
    <div class="row">
      <div class="col-12">
        <h1 class="welcome-heading display-4 text-white">{{ 'CALCULATOR_AFFORDABILITY.AFFORDABILITY_TITLE' | translate }}</h1>
        <p class="text-white">{{ 'CALCULATOR_AFFORDABILITY.AFFORDABILITY_INTRO' | translate }}</p>
        <!-- <a href="#our-services" class="btn btn-lg btn-outline-white btn-pill align-self-center">Calculate The Land Transfer Tax</a> -->
      </div>
    </div>
  </div>
</div>

<div class="container">
<form [formGroup]="affordabilityForm" (ngSubmit)="onSubmit()">
  <div class="row" style="text-align: center; margin: 1px">
    <div class="col-12 col-lg-3 d-flex" formGroupName="annualIncomeForm">
      <div class="row">
        <div class="col-12" style="height: auto">
          <h4>{{ 'CALCULATOR_AFFORDABILITY.ANNUAL_INCOME_TITLE' | translate }}</h4>
          <span class="row"> </span>
        </div>
        <div class="col-12 d-flex" style="text-align: left;">
          <div class="col-8 tooltip" style="margin-top: auto; margin-bottom: auto;">
              {{ 'CALCULATOR_AFFORDABILITY.ANNUAL_INCOME_B4TAX' | translate }}
            <span class="tooltiptext">{{ 'CALCULATOR_AFFORDABILITY.ANNUAL_INCOME_B4TAX_TOOLTIPTXT' | translate }}</span>
          </div>
          <mat-form-field class="col-4" style="margin-top: auto; margin-bottom: auto; text-align: center">
            <input matInput type="text" inputmode="numeric" min="0.00" name="annualIncome" onfocus="this.value=''" id="annualIncome" formControlName="annualIncome">
            <span matPrefix>$&nbsp;</span>
            <span matSuffix></span>            
          </mat-form-field>
        </div>
        <div class="col-12 d-flex" style="text-align: left;">
          <div class="col-8 tooltip" style="margin-top: auto; margin-bottom: auto;">
            {{ 'CALCULATOR_AFFORDABILITY.COAPP_INCOME_B4TAX' | translate }}
            <span class="tooltiptext">{{ 'CALCULATOR_AFFORDABILITY.COAPP_INCOME_B4TAX_TOOLTIPTXT' | translate }}</span>
          </div>
          <mat-form-field class="col-4" style="margin-top: auto; margin-bottom: auto; text-align: center">
            <input matInput type="text" inputmode="numeric" min="0.00" name="coApplicantIncome" onfocus="this.value=''" id="coApplicantIncome" formControlName="coApplicantIncome">
            <span matPrefix>$&nbsp;</span>
            <span matSuffix></span>             
          </mat-form-field>
        </div>
        <div class="col-12 d-flex"> </div>
      </div>
    </div>
    <div class="col-12 col-lg-1 d-flex" ></div>
    <div class="col-12 col-lg-4 d-flex" formGroupName="livingCostsForm">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-10" style="height: auto">
          <h4>{{ 'CALCULATOR_AFFORDABILITY.LIVING_COST_TITLE' | translate }}</h4>
          <span>{{ 'CALCULATOR_AFFORDABILITY.LIVING_COST_TITLE_DESCRIPTION' | translate }}</span>
        </div>
        <div class="col-lg-12 col-md-12 col-10 d-flex" style="text-align: left;">
          <div class="col-lg-4 col-3 tooltip" style="margin-top: auto; margin-bottom: auto;">
            {{ 'CALCULATOR_AFFORDABILITY.PROPERTY_TAX' | translate }}
            <span class="tooltiptext">{{ 'CALCULATOR_AFFORDABILITY.PROPERTY_TAX_TOOLTIPTXT' | translate }}</span>
          </div>
          <mat-form-field class="col-3" style="margin-top: auto; margin-bottom: auto; text-align: center">
            <input matInput type="text" inputmode="numeric" min="0.00" name="propertyTax" onfocus="this.value=''" id="propertyTax" formControlName="propertyTax">
            <span matPrefix>$&nbsp;</span>
            <span matSuffix></span>             
          </mat-form-field>
          <mat-select class="col-lg-3 col-4" style="margin-top: auto; margin-bottom: auto;" id="propertyTaxMonYr" placeholder="{{ 'CALCULATOR_AFFORDABILITY.PER_MONTH' | translate }}">
            <mat-option selected value="month">{{ 'CALCULATOR_AFFORDABILITY.PER_MONTH' | translate }}</mat-option>
            <mat-option value="year">{{ 'CALCULATOR_AFFORDABILITY.PER_YEAR' | translate }}</mat-option>
          </mat-select>
          <mat-checkbox class="col-1" style="margin-top: auto; margin-bottom: 15px; text-align: center" type="checkbox" value="No" name="chkPropertyTax" id="chkPropertyTax" formControlName="chkPropertyTax"></mat-checkbox>
        </div>
        <div class="col-lg-12 col-md-12 col-10 d-flex" style="text-align: left;">
          <div class="col-lg-4 col-3 tooltip" style="margin-top: auto; margin-bottom: auto;">
            {{ 'CALCULATOR_AFFORDABILITY.CONDO_FEES' | translate }}
            <span class="tooltiptext">{{ 'CALCULATOR_AFFORDABILITY.CONDO_FEES_TOOLTIPTXT' | translate }}</span>
          </div>
          <mat-form-field class="col-3" style="margin-top: auto; margin-bottom: auto; text-align: center">
            <input matInput type="text" inputmode="numeric" min="0.00" name="condoFees" onfocus="this.value=''" id="condoFees" formControlName="condoFees">
            <span matPrefix>$&nbsp;</span>
            <span matSuffix></span>                
          </mat-form-field>
          <mat-select class="col-lg-3 col-4" style="margin-top: auto; margin-bottom: auto;" id="condoFeesMonYr" placeholder="{{ 'CALCULATOR_AFFORDABILITY.PER_MONTH' | translate }}">
            <mat-option selected value="month">{{ 'CALCULATOR_AFFORDABILITY.PER_MONTH' | translate }}</mat-option>
            <mat-option value="year">{{ 'CALCULATOR_AFFORDABILITY.PER_YEAR' | translate }}</mat-option>
          </mat-select>
          <mat-checkbox class="col-1" style="margin-top: auto; margin-bottom: 15px;" type="checkbox" value="No" name="chkCondoFees" id="chkCondoFees" formControlName="chkCondoFees"></mat-checkbox>
        </div>
        <div class="col-lg-12 col-md-12 col-10 d-flex" style="text-align: left;">
          <div class="col-lg-4 col-3 tooltip" style="margin-top: auto; margin-bottom: auto;">
            {{ 'CALCULATOR_AFFORDABILITY.HEATING_COSTS' | translate }}
            <span class="tooltiptext">{{ 'CALCULATOR_AFFORDABILITY.HEATING_COSTS_TOOLTIPTXT' | translate }}</span>
          </div>
          <mat-form-field class="col-3" style="margin-top: auto; margin-bottom: auto; text-align: center">
            <input matInput type="text" inputmode="numeric" min="0.00" name="heatingCosts" onfocus="this.value=''" id="heatingCosts" formControlName="heatingCosts">
            <span matPrefix>$&nbsp;</span>
            <span matSuffix></span>            
          </mat-form-field>
          <mat-select class="col-lg-3 col-4" style="margin-top: auto; margin-bottom: auto;" id="heatingCostsMonYr" placeholder="{{ 'CALCULATOR_AFFORDABILITY.PER_MONTH' | translate }}">
            <mat-option selected value="month">{{ 'CALCULATOR_AFFORDABILITY.PER_MONTH' | translate }}</mat-option>
            <mat-option value="year">{{ 'CALCULATOR_AFFORDABILITY.PER_YEAR' | translate }}</mat-option>
          </mat-select>
          <mat-checkbox class="col-1" style="margin-top: auto; margin-bottom: 15px; margin-left: 0; margin-right: auto" type="checkbox" value="No" name="chkHeatingCosts" id="chkHeatingCosts" formControlName="chkHeatingCosts"></mat-checkbox>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-1 d-flex" ></div>
    <div class="col-12 col-lg-3 d-flex" formGroupName="debtPaymentsForm">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-11" style="height: auto">
          <h4>{{ 'CALCULATOR_AFFORDABILITY.DEBT_PAYMENTS_TITLE' | translate }}</h4>
          <span class="row"> </span>
        </div>
        <div class="col-lg-12 col-md-12 col-11 d-flex" style="text-align: left;">
          <div class="col-4 tooltip" style="margin-top: auto; margin-bottom: auto;">
            {{ 'CALCULATOR_AFFORDABILITY.CREDIT_CARD' | translate }}
            <span class="tooltiptext">{{ 'CALCULATOR_AFFORDABILITY.CREDIT_CARD_TOOLTIPTXT' | translate }}</span>
          </div>
          <mat-form-field class="col-4" style="margin-top: auto; margin-bottom: auto; text-align: center">
            <input matInput type="text" inputmode="numeric" min="0.00" name="creditCard" onfocus="this.value=''" id="creditCard" formControlName="creditCard">
            <span matPrefix>$&nbsp;</span>
            <span matSuffix></span>            
          </mat-form-field>
          <mat-select class="col-4" style="margin-top: auto; margin-bottom: auto;" id="creditCardMonYr" placeholder="{{ 'CALCULATOR_AFFORDABILITY.PER_MONTH' | translate }}">
            <mat-option selected value="month">{{ 'CALCULATOR_AFFORDABILITY.PER_MONTH' | translate }}</mat-option>
            <mat-option value="year">{{ 'CALCULATOR_AFFORDABILITY.PER_YEAR' | translate }}</mat-option>
          </mat-select>
        </div>
        <div class="col-lg-12 col-md-12 col-11 d-flex"  style="text-align: left;">
          <div class="col-4 tooltip" style="margin-top: auto; margin-bottom: auto;">
            {{ 'CALCULATOR_AFFORDABILITY.CAR_PAYMENT' | translate }}
            <span class="tooltiptext">{{ 'CALCULATOR_AFFORDABILITY.CAR_PAYMENT_TOOLTIPTXT' | translate }}</span>
          </div>
          <mat-form-field class="col-4" style="margin-top: auto; margin-bottom: auto; text-align: center">
            <input matInput type="text" inputmode="numeric" min="0.00" name="carPayment" onfocus="this.value=''" id="carPayment" formControlName="carPayment">
            <span matPrefix>$&nbsp;</span>
            <span matSuffix></span>            
          </mat-form-field>
          <mat-select class="col-4" style="margin-top: auto; margin-bottom: auto;" id="carPaymentMonYr" placeholder="{{ 'CALCULATOR_AFFORDABILITY.PER_MONTH' | translate }}">
            <mat-option selected value="month">{{ 'CALCULATOR_AFFORDABILITY.PER_MONTH' | translate }}</mat-option>
            <mat-option value="year">{{ 'CALCULATOR_AFFORDABILITY.PER_YEAR' | translate }}</mat-option>
          </mat-select>
        </div>
        <div class="col-lg-12 col-md-12 col-11 d-flex" style="text-align: left;">
          <div class="col-4 tooltip" style="margin-top: auto; margin-bottom: auto;">
            {{ 'CALCULATOR_AFFORDABILITY.OTHER_LOAN_EXPANSES' | translate }}
            <span class="tooltiptext">{{ 'CALCULATOR_AFFORDABILITY.OTHER_LOAN_EXPANSES_TOOLTIPTXT' | translate }}</span>
          </div>
          <mat-form-field class="col-4" style="margin-top: auto; margin-bottom: auto; text-align: center">
            <input matInput type="text" inputmode="numeric" min="0.00" name="otherLoanExpenses"  onfocus="this.value=''" id="otherLoanExpenses" formControlName="otherLoanExpenses">
            <span matPrefix>$&nbsp;</span>
            <span matSuffix></span>            
          </mat-form-field>
          <mat-select class="col-4" style="margin-top: auto; margin-bottom: auto;" id="otherLoanExpensesMonYr" placeholder="{{ 'CALCULATOR_AFFORDABILITY.PER_MONTH' | translate }}">
            <mat-option selected value="month">{{ 'CALCULATOR_AFFORDABILITY.PER_MONTH' | translate }}</mat-option>
            <mat-option value="year">{{ 'CALCULATOR_AFFORDABILITY.PER_YEAR' | translate }}</mat-option>
          </mat-select>
        </div>
      </div>
    </div>

    <div class="col-12" style="margin-top: 1rem">
      <!-- <button type="submit" id="submit" name="submit" class="btn btn-primary btn-pill">Calculate</button> -->
      <button mat-raised-button color="primary" type="submit" id="submit" class="btn btn-primary btn-pill" name="submit">{{ 'CALCULATOR_AFFORDABILITY.SUBMIT_BUTTON' | translate }}</button>
    </div>
  </div>

</form>
</div>

<hr>

<div class="container">
<div class="row" style="text-align: left; margin: 5px">
  <div class="col-lg-7 col-12">
    <div class="row">
      <h5 class="col-8">{{ 'CALCULATOR_AFFORDABILITY.MAX_AFFORDABILITY' | translate }}</h5>
      <h5 class="col-4"> {{maxAffordability | currency:'USD':true:'1.0-0'}} </h5>
    </div>
    <div class="row">
      <h5 class="col-8">{{ 'CALCULATOR_AFFORDABILITY.DOWN_PAY' | translate }}</h5>
      <h5 class="col-4"> {{downPayment | currency:'USD':true:'1.0-0'}} </h5>
    </div>
    <div class="row">
      <h5 class="col-8">{{ 'CALCULATOR_AFFORDABILITY.TOTAL_MORTGAGE_PER_MONTH' | translate }}</h5>
      <h5 class="col-4" style="color: green"> {{monthlyMortgagePayment | currency:'USD':true:'1.0-0'}} </h5>
    </div>
  </div>
  <div class="col-lg-5 col-12">
    <div class="row">
      <h5 class="col-7">{{ 'CALCULATOR_AFFORDABILITY.AMORTIZATION_PERIOD' | translate }}</h5>
      <h5 class="col-5"> {{ amortizationPeriod }} {{ 'CALCULATOR_AFFORDABILITY.YEARS' | translate }} </h5>
    </div>
    <div class="row">
      <h5 class="col-7">{{ 'CALCULATOR_AFFORDABILITY.MORTGAGE_RATE' | translate }}</h5>
      <h5 class="col-5"> {{ mortgageRate | percent: '1.2-2' }} </h5>
    </div>
    <div class="row">
      <h5 class="col-7">{{ 'CALCULATOR_AFFORDABILITY.MORTGAGE_TYPE' | translate }}</h5>
      <h5 class="col-5">{{ 'CALCULATOR_AFFORDABILITY.MORTGAGE_TYPE_CONTENT' | translate }}  </h5>
    </div>
  </div>
</div>
</div>

<hr>

<div class="container">
  <h3>{{ 'CALCULATOR_AFFORDABILITY.HOW_TO_ESTIMATE_TITLE' | translate }}</h3><p></p>
  {{ 'CALCULATOR_AFFORDABILITY.HOW_TO_ESTIMATE_P1' | translate }}
  <p></p>
  {{ 'CALCULATOR_AFFORDABILITY.HOW_TO_ESTIMATE_P2' | translate }}
  <p></p>
  {{ 'CALCULATOR_AFFORDABILITY.HOW_TO_ESTIMATE_P3' | translate }}
  <p></p>
  {{ 'CALCULATOR_AFFORDABILITY.HOW_TO_ESTIMATE_P4' | translate }}

  <h4><br></h4>

  <img alt="GDSR" style="width: 100%; height: auto" src="{{ 'CALCULATOR_AFFORDABILITY.HOW_TO_ESTIMATE_GDSR' | translate }}">

  <h4><br></h4>

  <img alt="TDSR" style="width: 100%; height: auto" src="{{ 'CALCULATOR_AFFORDABILITY.HOW_TO_ESTIMATE_TDSR' | translate }}">

  <h4><br></h4>

</div>

<hr>

<div class="container">
  <h3>{{ 'CALCULATOR_AFFORDABILITY.DOWN_PAYMENT_TITLE' | translate }}</h3>
  <p></p>
  {{ 'CALCULATOR_AFFORDABILITY.DOWN_PAYMENT_P1' | translate }}
  <p></p>
  {{ 'CALCULATOR_AFFORDABILITY.DOWN_PAYMENT_P2' | translate }}
</div>

<hr>

<div class="container">
  <h3>{{ 'CALCULATOR_AFFORDABILITY.CASH_REQ_OTHER_QUALIFICATIONS_TITLE' | translate }}</h3>
  <p></p>
  {{ 'CALCULATOR_AFFORDABILITY.CASH_REQ_OTHER_QUALIFICATIONS_CONTENT' | translate }}
  <h2></h2>
</div>

<p></p>


<app-contact-us></app-contact-us>
<app-footer></app-footer>

