  .affordability_result{
    align-items: left;
  }

  .tooltip {
    opacity: initial;
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 0 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0%;
  }

  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border: 5px solid;
    border-bottom-color: black;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  h3 {
    margin-top: 1rem;
    margin-bottom: 0rem;
  }

  .welcome {
    position: relative;
    height: 50vh;
    min-height: 300px;
    background: url("../../../assets/images/rawpixel-602154-unsplash.jpg") no-repeat bottom center fixed;
    background-size: cover;
  }
  