.welcome {
    position: relative;
    height: 50vh;
    min-height: 300px;
    background: url("../../assets/images/aboutus.jpg") no-repeat bottom center fixed;
    background-size: cover;
  }
  
.imgleft {
    float: left;
    width: 250px; /* three containers (use 25% for four, and 50% for two, etc) */
    padding: 5px; /* if you want space between the images */    
}

.imgright {
    float: right;
    width: 250px ; /* three containers (use 25% for four, and 50% for two, etc) */
    padding: 5px; /* if you want space between the images */    
}