<div class="welcome d-flex justify-content-center flex-column">

  <!-- Inner Wrapper -->
  <div class="inner-wrapper mt-auto mb-auto container">
    <div class="row">
      <div class="col-md-7">
          <h1 class="welcome-heading display-4 text-white">MeeFinancial - DIY Mortgage Backed by a Full Service Team</h1>
          <p class="text-white">Proudly Canadian</p>
          <a href="#our-services" class="btn btn-lg btn-outline-white btn-pill align-self-center">Learn More</a>
      </div>
    </div>
  </div>
  <!-- / Inner Wrapper -->
</div>
<!-- / Welcome Section -->


<div class="testimonials section py-4">
    <h3 class="section-title text-center m-5">Who We Are</h3>
    <div class="container py-5">
      <div class="row">
          <div class="col-md-12 testimonial text-center">

              <h5 class="mb-1">Our Story</h5>
              <!-- <span class="text-muted d-block mb-2">Congratulations!</span> -->
              <p>A proudly Canadian company, we are founded and based out of Toronto Ontario with one mission: Empower clients to obtain their DIY mortgage with the best possible rates, backed by an experienced full service team. </p>

              <p>We offer a unique level of service that makes “shopping” the mortgage market easy. When you are ready to secure financing or are thinking of needing financing, be it for a purchase, refinance or switch, simply connect with us. We are able to provide you with unbiased advice and personal consultation throughout the process.
              </p>

              <p>Our online DIY platform empowers our clients to fill out their application. We will evaluate the application and provide our clients the advice and plan they need to make the right decision with the best possible rate. 
              </p>

              <p>All applications are secured and sent electronically to our network of lenders depending on specific financing requirements. Our service policy is to ensure all parties are kept informed throughout the transaction. Our commitment is to make the approval process seamless, efficient, and simple. <p>

              <p> MeeFinancial has an experienced Leadership Team with a proven track record in the financial industry. We pride ourselves on providing excellent customer service that will make the mortgage process smooth and seamless for clients.</p>
          </div>

         

  
      </div>
    </div>
</div>


<!-- Testimonials Section -->
<div class="testimonials section py-4">
    <h3 class="section-title text-center m-5">Our Key Values</h3>
    <div class="container py-5">
      <div class="row">
          <div class="col-md-4 testimonial text-center">
              <div class="icon text-primary mr-3"><i class="fa fa-paint-brush"></i>
              </div>
              <h5 class="mb-1">Simplicity</h5>
              <!-- <span class="text-muted d-block mb-2">Congratulations!</span> -->
              <p>We believe in keeping things simple with no strings attached. We help clients build their mortgage plan and secure their funding. </p>
          </div>

          <div class="col-md-4 testimonial text-center">
              <div class="icon text-primary mr-3"><i class="fa fa-paint-brush"></i>
              </div>
              <h5 class="mb-1">Excellent Client Service</h5>
             <!--  <span class="text-muted d-block mb-2">CEO at Megacorp</span> -->
              <p>We believe every client, big or little, should receive a customized mortgage plan and receive the advice they need to make the right decision and find the product most suitable for their situation. Our client satisfaction rate is second to none</p>
          </div>

          <div class="col-md-4 testimonial text-center">
              <div class="icon text-primary mr-3"><i class="fa fa-paint-brush"></i>
              </div>
              <h5 class="mb-1">DIY Mortgage Rates backed by an Experienced Full Service Team</h5>
              <!-- <span class="text-muted d-block mb-2">CEO at Megacorp</span> -->
              <p> We believe clients can get the best online DIY mortgage rates and still receive the best service in the industry</p>
          </div>
      </div>
    </div>
</div>

<app-contact-us></app-contact-us>
<app-footer></app-footer>