<app-header></app-header>

<div class="welcome d-flex justify-content-center flex-column">
    <div class="inner-wrapper mt-auto mb-auto container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="welcome-heading display-4 text-white">{{ 'ABOUT_US.ABOUT_US_TITLE' | translate }}</h1>
                <p class="text-white">{{ 'ABOUT_US.ABOUT_US_INTRO' | translate }}</p>
                <!-- <a class="nav-link" routerLink="/howitworks" class="btn btn-lg btn-outline-white btn-pill align-self-center">Learn How It Works</a> -->
            </div>
        </div>
    </div>
</div>

<div class="container py-5">
    <h3 class="mb-1 text-center">{{ 'ABOUT_US.OUR_STORY_TITLE' | translate }}</h3>
    <hr>
    <div class="row">
        <div class="col-12 testimonial text-center orange " >
            <div class="row">
                <div class="col-lg-6 col-12"><img src="../../assets/images/jordan-masse-685278-unsplash.jpg" width="100%" height="100%"></div>
                <div class="col-lg-6 col-12" style="margin-top: auto; margin-bottom: auto">{{ 'ABOUT_US.STORY1' | translate }}</div>
            </div>
        </div>
        <div class="col-12"><br></div>
        <div class="col-12 testimonial text-center orange" >
            <div class="row"> 
                <div class="col-lg-6 col-12 d-lg-none"><img src="../../assets/images/rawpixel-649916-unsplash.jpg" width="100%" height="100%"></div>
                <div class="col-lg-6 col-12" style="margin-top: auto; margin-bottom: auto">{{ 'ABOUT_US.STORY2' | translate }}</div>
                <div class="col-lg-6 col-12 d-none d-lg-block"><img src="../../assets/images/rawpixel-649916-unsplash.jpg" width="100%" height="85%"></div>
            </div> 
        </div>
    </div>
</div>

<div id="our-services" class="our-services section py-4">
    <h3 class="section-title text-center my-5">{{ 'ABOUT_US.OUR_SPECIALITIES_TITLE' | translate }}</h3>
    <div class="features py-4 mb-4">
        <div class="container">
            <div class="row">
                <div class="feature py-4 col-md-6 d-flex align-items-stretch">
                    <div class="icon text-primary mr-3"><img src="../../assets/images/icons/first.png" width="40px"></div>
                    <div class="px-4">
                        <h5>{{ 'ABOUT_US.SPEC1_TITLE' | translate }}</h5>
                        <p><h6>{{ 'ABOUT_US.SPEC1_DESCRIPTION' | translate }}</h6>
                    </div>
                </div>
        
                <div class="feature py-4 col-md-6 d-flex align-items-stretch">
                    <div class="icon text-primary mr-3"><img src="../../assets/images/icons/Selfemployed.svg" width="40px"></div>
                    <div class="px-4">
                        <h5>{{ 'ABOUT_US.SPEC2_TITLE' | translate }}</h5>
                        <p><h6>{{ 'ABOUT_US.SPEC2_DESCRIPTION' | translate }}</h6>
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="feature py-4 col-md-6 d-flex align-items-stretch">
                    <div class="icon text-primary mr-3"><img src="../../assets/images/icons/NewtoCanada.svg" width="40px"></div>
                    <div class="px-4">
                        <h5>{{ 'ABOUT_US.SPEC3_TITLE' | translate }}</h5>
                        <p><h6>{{ 'ABOUT_US.SPEC3_DESCRIPTION' | translate }}</h6>
                    </div>
                </div>
        
                <div class="feature py-4 col-md-6 d-flex align-items-stretch">
                    <div class="icon text-primary mr-3"><img src="../../assets/images/icons/clipboard.svg" width="40px"></div>
                    <div class="px-4">
                        <h5>{{ 'ABOUT_US.SPEC4_TITLE' | translate }}</h5>
                        <p><h6>{{ 'ABOUT_US.SPEC4_DESCRIPTION' | translate }}</h6>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="testimonials section py-4">
    <h3 class="section-title text-center m-5">{{ 'ABOUT_US.OUR_KEY_VALUES_TITLE' | translate }}</h3>
    <div class="container py-5">
      <div class="row">
          <div class="col-md-4 testimonial text-center">
              <div class="icon text-primary mr-3"><img src="../../assets/images/icons/simple.svg" width="40px"></div>
              <p></p>
              <h5 class="mb-1">{{ 'ABOUT_US.KEY1_TITLE' | translate }}</h5>
              <p>{{ 'ABOUT_US.KEY1_DESCRIPTION' | translate }}</p>
          </div>

          <div class="col-md-4 testimonial text-center">
              <div class="icon text-primary mr-3"><img src="../../assets/images/icons/excellentservice.svg" width="40px"></div>
              <p></p>
              <h5 class="mb-1">{{ 'ABOUT_US.KEY2_TITLE' | translate }}</h5>
              <p>{{ 'ABOUT_US.KEY2_DESCRIPTION' | translate }}</p>
          </div>

          <div class="col-md-4 testimonial text-center">
              <div class="icon text-primary mr-3"><img src="../../assets/images/icons/bestservice.svg" width="40px"></div>
              <p></p>
              <h5 class="mb-1">{{ 'ABOUT_US.KEY3_TITLE' | translate }}</h5>
              <p>{{ 'ABOUT_US.KEY3_DESCRIPTION' | translate }}</p>
          </div>
      </div>
    </div>
</div>

<app-advice></app-advice>
<app-contact-us></app-contact-us>
<app-footer></app-footer>