<form [formGroup]="formGroup">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <i class="fas fa-chevron-right"></i>
      </div>
      <mat-card-title>Property Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        <mat-form-field class="MortgageBuilder-form-field-form-field">
          <mat-select placeholder="Property Type" formControlName="propertyType">
            <mat-option *ngFor="let option of propertyType" [value]="option">{{option}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="MortgageBuilder-form-field-form-field">
          <mat-select placeholder="Property Usage" formControlName="propertyUsage">
            <mat-option *ngFor="let option of propertyUsage" [value]="option">{{option}}</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="MortgageBuilder-form-field-form-field">
          <input matInput type="text" placeholder="Address" formControlName="streetAddress" />
        </mat-form-field>
        <mat-form-field class="MortgageBuilder-form-field-form-field">
          <input matInput type="text" placeholder="City" formControlName="city" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-select placeholder="Province" formControlName="province">
            <mat-option *ngFor="let option of province" [value]="option">{{option}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="MortgageBuilder-form-field-form-field">
          <input matInput type="text" placeholder="Postal Code" formControlName="postalCode" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="MortgageBuilder-form-field-form-field">
          <input matInput type="number" placeholder="Property Tax" formControlName="propertyTax" />
        </mat-form-field>
        <mat-form-field class="MortgageBuilder-form-field-form-field">
          <input matInput type="number" placeholder="Condo Fee" formControlName="condoFee" />
        </mat-form-field>
      </p>
    </mat-card-content>
    <mat-card-actions></mat-card-actions>
    <mat-card-footer></mat-card-footer>
  </mat-card>
  <p>
  </p>
  <div>
    <button mat-raised-button matStepperPrevious>Back</button>
    <!-- <button mat-raised-button (click)="stepper.reset()" color="warn">Reset</button> -->
    <button mat-raised-button matStepperNext color="primary" (click)="save()" [disabled]="formGroup.invalid">Next</button>
  </div>
</form>