<div class="splash">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 ">
        <div class="content text-center">
          <!-- <h1>MeeFinancial Inc.</h1>
          <h3>Digital Mortgage</h3> -->
          <img src="../../assets/images/splashlogo.svg" width="300px">
          <hr>
          <a routerLink="/home">
            <button class="btn btn-default btn-lg">
              <i class="fas fa-play"></i> Build my mortgage!</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
