<div class="welcome d-flex justify-content-center flex-column">
  <div class="inner-wrapper mt-auto mb-auto container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="welcome-heading display-4 text-white">How It Works</h1>
        <p class="text-white">Build your own mortgage solution in less than 3 minutes!</p>
        <a class="nav-link" routerLink="/mortgage" class="btn btn-lg btn-outline-white btn-pill align-self-center">Build My Mortgage</a>
      </div>
    </div>

  </div>
</div>

<div class="how-it-works">
  <h2 class="section-header section-header--underlined">How it Works</h2>
  <div class="row" style="display: flex; align-items: center; vertical-align: middle">
    <div class="col-12 col-md-6 col-lg-2 d-flex align-items-stretch" style="width: 50%; margin: 0 auto;">
      <div class="how-it-works__step">
        <img alt="1 - Build Your Mortgage" style="width: 100px; height: 100px;" src="assets/images/howItWorks_1.svg">
        <h3>Step 1</h3>
        <h4>Build Your Mortgage</h4>
        <p>Find the best mortgage solution in less than 5 minutes using our proprietary online builder.</p>
      </div>
    </div>
    <div class="d-none d-lg-block">
      <i class="fa fa-long-arrow-right step-arrow" aria-hidden="true"></i>
    </div>
    <div class="col-12 col-md-6 col-lg-2 d-flex align-items-stretch" style="width: 50%; margin: 0 auto;">
      <div class="how-it-works__step">
        <img alt="2 - We Will Follow Up" style="width: 100px; height: 100px;" src="assets/images/howItWorks_2.svg">
        <h3>Step 2</h3>
        <h4>We Will Follow Up</h4>
        <p>Our system will automatically help you get the mortgage and we will reach out if we need more information.</p>
      </div>
    </div>
    <div class="d-none d-lg-block">
      <i class="fa fa-long-arrow-right step-arrow" aria-hidden="true"></i>
    </div>
    <div class="col-12 col-md-6 col-lg-2 d-flex align-items-stretch" style="width: 50%; margin: 0 auto;">
      <div class="how-it-works__step">
        <img alt="3 - Confirm on final details" style="width: 100px; height: 100px;" src="assets/images/howItWorks_3.svg">
        <h3>Step 3</h3>
        <h4>Confirm on final details</h4>
        <p>Once we received the final commitment, we will finalized the closing details with your lawyer, saving you time and hassle.</p>
      </div>
    </div>
    <div class="d-none d-lg-block">
      <i class="fa fa-long-arrow-right step-arrow" aria-hidden="true"></i>
    </div>
    <div class="col-12 col-md-6 col-lg-2 d-flex align-items-stretch" style="width: 50%; margin: 0 auto;">
      <div class="how-it-works__step">
        <img alt="4 - Closing" style="width: 100px; height: 100px;" src="assets/images/howItWorks_3.svg">
        <h3>Step 4</h3>
        <h4>Closing</h4>
        <p>On your closing date, the funds will be directed to your lawyer.</p>
      </div>
    </div>
  </div>
  <div class="how-it-works__subtext" style="position: relative;margin-top:50px;">
    <span>More questions</span> on what to expect? Head on over to our <a href="/howItWorks#faq">FAQs</a> or contact us using our Contact Form
  </div>
</div>
<!-- 
<div class="container">
  <div class="row no-gutters">
    <div class="col-sm-6 col-lg-3 border-right-0">
      <div class="card">
        <img class="card-img-top" src="https://www.themuse.com/static/images/coach-connect/how-it-works/cc-how-it-works-01.svg?v=fc30f372ab4576a4913089c6b8f7f729023b7b7ac9463696d3cf545c17d77755" alt="Card image cap">
        <div class="card-body" style="height: auto">
          <h4 class="card-title">1 - Build Your Mortgage</h4>
          <p class="card-text">Find the best mortgage solution in less than 5 minutes using our proprietary online builder.</p>
        </div>
      </div>
    </div>
  </div>
</div> -->

<hr>

<app-applynow></app-applynow>

<hr>

<div class="anchor" id="faq"></div>
<div class="faq">
  <h2 class="section-header section-header--underlined">Frequently Asked Questions</h2>
  
  <div class="faq__contents">
    <h4>Q: How do I get started?</h4>
    <p>Simply click on the Mortgage Builder link and answer a few questions through the six sections.
      You can build build your mortgage solution in less than 3 minutes </p>
   
    <h4>Q: When should I expect to hear back?</h4>
    <p> You will hear from us within 24 hours of applying, guarantee. If you do not, you will receive a $200 cash back credit on the funding date</p>
    
    <h4>Q: I have weak credit score, will I still qualify? </h4>
    <p>We work with clients who have different credit scores. With our extensive network of lenders, we will help you with your mortgage regardless of your credit history</p>
   
    <h4>Q: How long does it take to go from applying to funding? </h4>
    <p>The shortest time we have helped fund our clients are within 48 hours. This depends on a case by case basis. A good rule
      of thumb is to give yourself about one to two weeks of time to the required funding date.
    </p>
  
    <p>If you are not satisfied with how your mortgage is handled, please contact <a href="mailto:info@meefinancial.com">info@meefinancial.com</a> right away and we will help you make it right.</p>
    
  </div>
</div>

<app-contact-us></app-contact-us>
<app-footer></app-footer>