<div class="welcome d-flex justify-content-center flex-column">
  <div class="inner-wrapper mt-auto mb-auto container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="welcome-heading display-4 text-white">How It Works</h1>
        <p class="text-white">Your Online DIY Mortgage Portal Backed By An Experienced Full Service Team</p>
        <a href="#our-services" class="btn btn-lg btn-outline-white btn-pill align-self-center">Learn More</a>
      </div>
    </div>

  </div>
</div>

<div class="how-it-works">
  <h2 class="section-header section-header--underlined">How it Works</h2>
  <div class="how-it-works__step-container">
    <div class="how-it-works__step">
      <img alt="1 - Choose a service" style="width: 100px; height: 100px;" src="https://www.themuse.com/static/images/coach-connect/how-it-works/cc-how-it-works-01.svg?v=fc30f372ab4576a4913089c6b8f7f729023b7b7ac9463696d3cf545c17d77755">
      <h3>Step 1</h3>
      <h4>Choose a service</h4>
      <p>Find the best coaching option to help you tackle (and overcome) your current career obstacle.</p>
    </div>
    <i class="fa fa-long-arrow-right step-arrow" aria-hidden="true" style="align-items: center"></i>
    <div class="how-it-works__step">
      <img alt="2 - Book a career coach" style="width: 100px; height: 100px;" src="https://www.themuse.com/static/images/coach-connect/how-it-works/cc-how-it-works-02.svg?v=3cc7a96e85a01d166deddf3ab82a0bab21b793ed64c5af6f886c1c52c62a357c">
      <h3>Step 2</h3>
      <h4>Book a career coach</h4>
      <p>Explore our roster of top-notch career coaches who provide the service you need. Check out reviews from other customers to help you pick the right one.</p>
    </div>
    <i class="fa fa-long-arrow-right step-arrow" aria-hidden="true"></i>
    <div class="how-it-works__step">
      <img alt="3 - Decide on a time" style="width: 100px; height: 100px;" src="https://www.themuse.com/static/images/coach-connect/how-it-works/cc-how-it-works-03.svg?v=431d93480eeec0fd6b7a88cb73823d36300a792f7282acdd50f83dbf43758778">
      <h3>Step 3</h3>
      <h4>Decide on a time</h4>
      <p>Your career coach will reach out to you within one business day to schedule your first appointment.</p>
    </div>
    <i class="fa fa-long-arrow-right step-arrow" aria-hidden="true"></i>
    <div class="how-it-works__step">
      <img alt="4 - Get Started!" style="width: 100px; height: 100px;" src="https://www.themuse.com/static/images/coach-connect/how-it-works/cc-how-it-works-04.svg?v=2c754794d31836092d2ac2eccaa7757c34d1680a9b7a96341abc11648eb7cc9d">
      <h3>Step 4</h3>
      <h4>Get started!</h4>
      <p>Meet with your career coach for a session by phone or video—and kick your career into high gear!</p>
    </div>
  </div>
  <div class="how-it-works__subtext">
    <span>More questions</span> on what to expect? Head on over to our <a href="/howItWorks#faq">FAQs</a> or contact one of our career experts
  </div>
</div>

<hr>

<app-applynow></app-applynow>

<hr>

<div class="anchor" id="faq"></div>
<div class="faq">
  <h2 class="section-header section-header--underlined">Frequently Asked Questions</h2>
  <h2></h2>
  <div class="faq__contents">
    <h3>Q: Why are some coaches more expensive than others?</h3>
    <p>Muse&nbsp;coaches are broken down into three price levels: Mentor, Coach, and Master Coach. All of our coaches have been vetted and are backed by the Muse, but they each offer something different.</p>
    <p><b>Mentors</b> have fewer years of experience, but specialize in various areas and offer services at an affordable price point for those on a budget.</p>
    <p><b>Coaches</b> are great for mid-career professionals who are looking for an experienced coach to help them take the next step.</p>
    <p><b>Master Coaches</b> have the most experience, typically working with senior leaders and executives. They’ve helped hundreds of clients over the years.</p>
    <p> In addition to the experience of the coach, some services offer you more time or interactions with your coach as the level increases. These differences are listed on individual service pages. </p>
    <h3>Q: I’ve never done anything like this. What should I expect?</h3>
    <p>The exact deliverables for a specific service are available on that service’s page. As far as working with a coach, you will receive personalized attention from a career expert who will use impactful questions to best understand your career objectives and work toward meeting them. Expect a mix guiding questions, thought partnership, and action steps to help you with what comes next.</p>
    <p>Like any other relationship, the more you put into your sessions, the more you'll get out. Those who get the best results are receptive to feedback and open to doing the work after the session is over.</p>
    <h3>Q: This is a huge investment for me. What happens if I do not enjoy the service? Can I get a refund?</h3>
    <p>We’re happy to report that these problems arise on less than 5% of all sessions, as evidenced by our average rating of 4.85/5.00 stars. Nonetheless, our world-class customer care team is standing by, and is committed to resolving any issues that come our way. Just contact <a href="mailto:care.coaching@themuse.com">care.coaching@themuse.com</a> if you have any problems.</p>
    <h3>Q: How long does it take to start working with the coach?</h3>
    <p>After you book a session, your coach will confirm the booking and be connected to you via email by the next business day (keep an eye on spam). Most coaches reply within just a few hours. If you haven’t heard from your coach by then, just contact <a href="mailto:care.coaching@themuse.com">care.coaching@themuse.com</a>.</p>
    <h3>Q: Which coach/service do I need?</h3>
    <p>This depends on your needs. We get that your situation is unique, and it can be confusing trying&nbsp;to figure out what’s going to help you the most.&nbsp;You can learn about all of our services on their individual pages.&nbsp;We also have a <a href="https://www.themuse.com/advice/how-to-choose-the-right-career-coach-for-you">great article</a> that will help you decide which coach and service is right for you. If you still need help figuring it out, don’t worry! You can talk directly to one of our career advisors who can work with you to find the right coach for your exact situation—just email&nbsp;<a href="mailto:care.coaching@themuse.com">care.coaching@themuse.com</a> or use the&nbsp;chat tool at the bottom of the page.</p>
    <p>We’ll help you find the perfect match.</p>
    <h3>Q: What are grounds for a refund?</h3>
    <p>Final drafts of written materials containing spelling errors, inconsistent tense or inconsistent formatting. NOTE: Working drafts that contain errors do not constitute a refund.</p>
    <p>Any missed deliverables listed on the service pages (pre-coaching assessment, follow-up email, calls, etc.).</p>
    <p>If a cancellation request is received before the first call, you will be issued a full refund.</p>
    <h3>Q: What if I do not want to finish my package?</h3>
    <p>If a cancellation request is made when a package is partially completed, we will issue a refund for only the sessions which have not started (pre-coaching assessment is starting point). Individual sessions will not be refunded following the first call. Packages include the <a href="/coaching/ultimate-job-search-strategy-package">“Ultimate Job Search Kit</a>,” <a href="/coaching/stuck-in-a-career-rut">“Stuck in a Career Rut Package"</a> and <a href="/coaching/first-time-management-training-program">“New Manager Program”</a>.</p>
    <h3>Q: What if I am not satisfied with my coaching session?</h3>
    <p>Once a session is completed, we cannot issue a refund unless there is grounds for one LINK: what are grounds for a refund. However, we strongly recommend you express any questions, concerns or comments to your coach. In nearly all cases, your coach will be able to help you find a resolution, as long as you communicate with them.</p>
    <h3>Q: What if I am not satisfied with my resume or cover letter?</h3>
    <p>Once the final version of the resume or cover letter is delivered, we can not issue a refund. Should this issue arise, please communicate with your coach to work toward a resolution. This resolves nearly every case.</p>
    <p>If you are not satisfied with your initial call, contact <a href="mailto:care.coaching@themuse.com">care.coaching@themuse.com</a> right away and we will issue you an 80% refund.</p>
    <p>If you are not satisfied with your first draft, contact <a href="mailto:care.coaching@themuse.com">care.coaching@themuse.com</a> right away and we will issue you a 50% refund.</p>
  </div>
</div>

<app-contact-us></app-contact-us>
<app-footer></app-footer>