<div class="welcome d-flex justify-content-center flex-column">
  <div class="inner-wrapper mt-auto mb-auto container">
    <div class="row">
      <div class="col-md-7">
          <h1 class="welcome-heading display-4 text-white">How It Works</h1>
          <p class="text-white">Your Online DIY Mortgage Portal Backed By An Experienced Full Service Team</p>
          <a href="#our-services" class="btn btn-lg btn-outline-white btn-pill align-self-center">Learn More</a>
      </div>
    </div>
  <!-- / Inner Wrapper -->
  </div>
</div>
<!-- / Welcome Section -->

    <!-- Our Blog Section -->
<div class="blog section section-invert py-4">
  <h3 class="section-title text-center m-5">How It Works - 5 Simple Steps</h3>

  <div class="container">
    <div class="py-4">
      <div class="row">
        <div class="card-deck">
          <div class="col-md-12 col-lg-4 d-flex align-items-stretch">
            <div class="card mb-4">
              <img class="card-img-top" src="assets/images/common/card-1.jpg" alt="Card image cap" >
              <div class="card-body">
                <h4 class="card-title">Step 1 - Apply</h4>
                <p class="card-text">Whether you are looking for a pre-approval or closing your property, spend less than 5 minutes to fill out our secure DIY online mortgage application</p>
                <a class="btn btn-primary btn-pill" href="#">Start My Application &rarr;</a>
              </div>
            </div>
          </div>

          <div class="col-md-12 col-lg-4 d-flex align-items-stretch">
            <div class="card mb-4">
              <img class="card-img-top" src="assets/images/common/card-3.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Step 2 - Confirm</h4>
                <p class="card-text">Confirm your DIY Mortgage application by confirming the verification email that we send you.</p>
                <!-- <a class="btn btn-primary btn-pill" href="#">Learn More &rarr;</a> -->
              </div>
            </div>
          </div>

          <div class="col-md-12 col-lg-4 d-flex align-items-stretch">
            <div class="card mb-4">
              <img class="card-img-top" src="assets/images/common/card-3.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Step 3 - Mortgage Plan & Advice</h4>
                <p class="card-text">We will process your application and let you know the mortgage plan most suitable for you</p>
                <!-- <a class="btn btn-primary btn-pill" href="#">Learn More &rarr;</a> -->
              </div>
            </div>
          </div>

          <div class="col-md-12 col-lg-4 d-flex align-items-stretch">
            <div class="card mb-4">
              <img class="card-img-top" src="assets/images/common/card-3.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Step 4 - Mortgage Plan Confirmation</h4>
                <p class="card-text">Leveraging our extensive network of lenders, we will do our best to help you secure your mortgage with the best possible rate. Final details will be confirmed</p>
                <!-- <a class="btn btn-primary btn-pill" href="#">Learn More &rarr;</a> -->
              </div>
            </div>
          </div>

          <div class="col-md-12 col-lg-4 d-flex align-items-stretch">
            <div class="card mb-4">
              <img class="card-img-top" src="assets/images/common/card-3.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Step 5 - Closing</h4>
                <p class="card-text">We strive to simplify the mortgage process and ensure you receive the best full service with your DIY experience</p>
                <a class="btn btn-primary btn-pill" href="#">Let's Connect! &rarr;</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
