.section {
    display: block;
}

.how-it-works {
    text-align: center;
    padding: 20px 20px;
}

.how-it-works__step {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    margin: 10px;
    padding: 5px;
    width: auto;
    height: 375px;
}

.how-it-works__step:hover{
    border-color:rgb(49, 114, 194);
    /* box-shadow: 2px 2px rgb(49, 114, 194); */
    border: 1px;
    border-style:solid
 }
.section-header.section-header--underlined {
    border-bottom: 2px solid #53b6d0;
}

.section-header {
    font-family: barlow semi condensed,Helvetica,sans-serif;
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
    display: inline-block;
    font-size: 28px;
    margin: 30px auto;
    padding: 6px 12px;
}

.how-it-works__step-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto 60px;
    max-width: 1080px;
}

.how-it-works__step h3 {
    text-transform: uppercase;
    font-size: 12px;
    font-family: nunito sans,Helvetica,sans-serif;
    font-weight: 900;
    font-style: normal;
    text-rendering: optimizeLegibility;
    letter-spacing: 1px;
    color: #666;
    margin: 20px 0 0;
}

.how-it-works__step h4 {
    font-family: barlow semi condensed,Helvetica,sans-serif;
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 20px;
    color: #333;
    margin: 8px 0;
}

.faq {
    text-align: center;
    padding: 10px 40px;
}

.faq__contents {
    text-align: left;
    max-width: 980px;
    margin: 0 auto 30px;
}
 
@media (max-width: 400px) {
    .welcome {
        position: relative;
        height: 50vh;
        min-height: 400px;
        background: url("../../assets/images/rawpixel-589073-unsplash_mobile.jpg") no-repeat bottom center fixed;
        background-size: cover;
    }
}

@media (min-width: 400px) {
    .welcome {
        position: relative;
        height: 50vh;
        min-height: 400px;
        background: url("../../assets/images/rawpixel-589073-unsplash.jpg") no-repeat bottom center fixed;
        background-size: cover;
    }
}
  