<form [formGroup]="formGroup">

<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">A Lenders</h4>
            </div>
            <div class="card-body">
                <table mat-table [dataSource]="lenderA" class="mat-elevation-z8">
                    <ng-container matColumnDef="term">
                        <td mat-cell style="font-weight:bold" *matCellDef="let lender"> {{lender.term}}Yr {{lender.type}} : {{lender.rate}} </td>
                    </ng-container>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <ul class="list-unstyled mt-3 mb-4"></ul>
                <button mat-raised-button matStepperNext color="primary" (click)="save('A')">Use This Lender [Next]</button>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">B Lenders</h4>
            </div>
            <div class="card-body">
                <table mat-table [dataSource]="lenderB" class="mat-elevation-z8">
                    <ng-container matColumnDef="term">
                        <td mat-cell style="font-weight:bold" *matCellDef="let lender"> {{lender.term}}Yr {{lender.type}} : {{lender.rate}} </td>
                    </ng-container>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <ul class="list-unstyled mt-3 mb-4"></ul>
                <button mat-raised-button matStepperNext color="primary" (click)="save('B')">Use This Lender [Next]</button>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Other Lenders</h4>
            </div>
            <div class="card-body">
                <table mat-table [dataSource]="lenderC" class="mat-elevation-z8">
                    <ng-container matColumnDef="term">
                        <td mat-cell style="font-weight:bold" *matCellDef="let lender"> {{lender.term}}Yr {{lender.type}} : {{lender.rate}} </td>
                    </ng-container>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <ul class="list-unstyled mt-3 mb-4"></ul>
                <button mat-raised-button matStepperNext color="primary" (click)="save('Other')">Use This Lender [Next]</button>
            </div>
        </div>

    </div>
</div>
<button mat-raised-button matStepperPrevious>Back</button>    

</form>