<form [formGroup]="formGroup">

<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">A Lenders</h4>
            </div>
            <div class="card-body">
                <ul class="list-group" style="">
                    <li class="list-group-item"><span style="font-size: 12px; white-space: nowrap;"><b>1 Yr Fixed: 2.79%</b></span></li>
                    <li class="list-group-item"><span style="font-size: 12px; white-space: nowrap;"><b>2 Yr Fixed: 3.14%</b></span></li>
                    <li class="list-group-item"><span style="font-size: 12px; white-space: nowrap;"><b>3 Yr Fixed: 3.20%</b></span></li>
                    <li class="list-group-item"><span style="font-size: 12px;"><b>4 Yr Fixed: 2.89% (Most Common)</b></span> </li>
                    <li class="list-group-item"><span style="font-size: 12px; white-space: nowrap;"><b>5 Yr Fixed: 3.04%</b></span></li>
                    <li class="list-group-item"><span style="font-size: 12px; white-space: nowrap;"><b>3 Yr Variable : 3.55%</b></span></li>
                    <li class="list-group-item"><span style="font-size: 12px; white-space: nowrap;"><b>5 Yr Variable: 2.45%</b></span></li>
                </ul>

                <!-- <table mat-table [dataSource]="lenderA" class="mat-elevation-z8">
                    <ng-container matColumnDef="term">
                        <th mat-header-cell *matHeaderCellDef> Term </th>
                        <td mat-cell *matCellDef="let lender"> {{lender.term}} </td>
                    </ng-container>
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef> Type </th>
                        <td mat-cell *matCellDef="let lender"> {{lender.type}} </td>
                    </ng-container>
                    <ng-container matColumnDef="rate">
                        <th mat-header-cell *matHeaderCellDef> Rate </th>
                        <td mat-cell *matCellDef="let lender"> {{lender.rate}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table> -->

                <ul class="list-unstyled mt-3 mb-4"></ul>
                <button mat-raised-button matStepperNext color="primary" >Use This Lender [Next]</button>
            </div>
        </div>
        

        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">B Lenders</h4>
            </div>
            <div class="card-body">
                <ul class="list-group" style="">
                    <li class="list-group-item"><span style="font-size: 12px; white-space: nowrap;"><b>1 Yr Fixed: 3.09%</b></span></li>
                    <li class="list-group-item"><span style="font-size: 12px; white-space: nowrap;"><b>2 Yr Fixed: 3.34%</b></span></li>
                    <li class="list-group-item"><span style="font-size: 12px; white-space: nowrap;"><b>3 Yr Fixed: 3.53%</b></span></li>
                    <li class="list-group-item"><span style="font-size: 12px; white-space: nowrap;"><b>4 Yr Fixed: 3.99%</b></span></li>
                    <li class="list-group-item"><span style="font-size: 12px; white-space: nowrap;"><b>5 Yr Fixed: 4.53%</b></span></li>
                    <li class="list-group-item"><span style="font-size: 12px; white-space: nowrap;"><b>3 Yr Variable : 3.50%</b></span></li>
                    <li class="list-group-item"><span style="font-size: 12px; white-space: nowrap;"><b>5 Yr Variable: 3.20%</b></span></li>
                </ul>

                <!-- <table mat-table [dataSource]="lenderB" class="mat-elevation-z8">
                    <ng-container matColumnDef="term">
                        <th mat-header-cell *matHeaderCellDef> Term </th>
                        <td mat-cell *matCellDef="let lender"> {{lender.term}} </td>
                    </ng-container>
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef> Type </th>
                        <td mat-cell *matCellDef="let lender"> {{lender.type}} </td>
                    </ng-container>
                    <ng-container matColumnDef="rate">
                        <th mat-header-cell *matHeaderCellDef> Rate </th>
                        <td mat-cell *matCellDef="let lender"> {{lender.rate}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table> -->

                <ul class="list-unstyled mt-3 mb-4"></ul>
                <button mat-raised-button matStepperNext color="primary" >Use This Lender [Next]</button>
            </div>
        </div>

        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Other Lenders</h4>
            </div>
            <div class="card-body">
                <ul class="list-group" style="">
                    <li class="list-group-item"><span style="font-size: 12px; white-space: nowrap;"><b>1 Yr Fixed: 7.33%</b></span></li>
                    <li class="list-group-item"><span style="font-size: 12px; white-space: nowrap;"><b>2 Yr Fixed: Call Us</b></span></li>    
                </ul>
                
                <!-- <table mat-table [dataSource]="lenderC" class="mat-elevation-z8">
                    <ng-container matColumnDef="term">
                        <th mat-header-cell *matHeaderCellDef> Term </th>
                        <td mat-cell *matCellDef="let lender"> {{lender.term}} </td>
                    </ng-container>
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef> Type </th>
                        <td mat-cell *matCellDef="let lender"> {{lender.type}} </td>
                    </ng-container>
                    <ng-container matColumnDef="rate">
                        <th mat-header-cell *matHeaderCellDef> Rate </th>
                        <td mat-cell *matCellDef="let lender"> {{lender.rate}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table> -->

                <ul class="list-unstyled mt-3 mb-4"></ul>
                <button mat-raised-button matStepperNext color="primary" >Use This Lender [Next]</button>
            </div>
        </div>

    </div>
</div>
<button mat-raised-button matStepperPrevious>Back</button>    

</form>