<app-header></app-header>

<div class="welcome d-flex justify-content-center flex-column">
  <div class="inner-wrapper mt-auto mb-auto container">
    <div class="row">
      <div class="col-12">
        <h1 class="welcome-heading display-4 text-white">{{ 'CALCULATOR_LAND_TRANSFER_TAX.LAND_TRANSFER_TAX_TITLE' | translate }}</h1>
        
        <p class="text-white">{{ 'CALCULATOR_LAND_TRANSFER_TAX.LAND_TRANSFER_TAX_INTRO' | translate }}</p>
        <!-- <a href="#our-services" class="btn btn-lg btn-outline-white btn-pill align-self-center">Calculate The Land Transfer Tax</a> -->
      </div>
    </div>
  </div>
</div>

<p></p>
<div class="container">
  <h2>{{ 'CALCULATOR_LAND_TRANSFER_TAX.LAND_TRANSFER_TAX_CALCULATOR_TITLE' | translate }}</h2>
  <div><br></div>
  <div class="row">
    <div class="col-lg-6 col-12">
      <form [formGroup]="ontarioLandTransferTaxForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <h3 class="col-12">{{ 'CALCULATOR_LAND_TRANSFER_TAX.PROFILE_TITLE' | translate }}</h3>
          <div class="col-12">
            <label class="col-6">{{ 'CALCULATOR_LAND_TRANSFER_TAX.PURCHASE_PRICE_TITLE' | translate }}</label>
            <mat-form-field class="col-6" style="margin-top: auto; margin-bottom: auto;">
              <input matInput placeholder="{{ 'CALCULATOR_LAND_TRANSFER_TAX.PURCHASE_PRICE_PLACEHOLD' | translate }}" type="text" onfocus="this.value=''" inputmode="numeric" name="purchasePrice" id="purchasePrice" formControlName="purchasePrice">
              <span matPrefix>$&nbsp;</span>
              <span matSuffix></span>
            </mat-form-field>
          </div>
          <div class="col-12">
            <label class="col-11">{{ 'CALCULATOR_LAND_TRANSFER_TAX.TORONTO_PROPERTY' | translate }}</label>
            <mat-checkbox class="col-1" style="margin-top: auto; margin-bottom: auto;" type="checkbox" class="custom-checkbox" value="No" name="torontoProperty" id="torontoProperty" formControlName="torontoProperty"></mat-checkbox>
          </div>
          <div class="col-12">
            <label class="col-11">{{ 'CALCULATOR_LAND_TRANSFER_TAX.FIRST_TIME' | translate }}</label>
            <mat-checkbox class="col-1" style="margin-top: auto; margin-bottom: auto;" type="checkbox" class="custom-checkbox" value="No" name="firstTimeBuyer" id="firstTimeBuyer" formControlName="firstTimeBuyer"></mat-checkbox>
          </div>
          <div class="col-12" style="display: flex; align-items: center; justify-content: center;">
            <button mat-raised-button color="primary" class="col-6" type="submit" style="width: 80%; display: block" id="submit" name="submit" class="btn btn-primary btn-pill" [disabled]="ontarioLandTransferTaxForm.invalid">{{ 'CALCULATOR_LAND_TRANSFER_TAX.SUBMIT_BUTTON' | translate }}</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-1 col-12"></div>
    <div class="col-lg-5 col-12">
      <div class="row">
        <h3 class="col-12">{{ 'CALCULATOR_LAND_TRANSFER_TAX.RESULTS_TITLE' | translate }}</h3>
        <div class="col-12">
          <div class="row">
            <label class="col-8">{{ 'CALCULATOR_LAND_TRANSFER_TAX.PROVINCIAL_TAX' | translate }}</label>
            <div class="col-4"><i style="color: red" class="fas fa-plus-circle"></i>&nbsp;&nbsp;<span>{{provincialLTT | currency}}</span></div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <label class="col-8">{{ 'CALCULATOR_LAND_TRANSFER_TAX.TORONTO_TAX' | translate }}</label>
            <div class="col-4"><i style="color: red" class="fas fa-plus-circle"></i>&nbsp;&nbsp;<span>{{torontoLTT | currency}}</span></div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <label class="col-8">{{ 'CALCULATOR_LAND_TRANSFER_TAX.REBATE_TAX' | translate }}</label>
            <div class="col-4"><i style="color: green" class="fas fa-minus-circle"></i>&nbsp;&nbsp;<span>{{totalRebate | currency}}</span></div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <label class="col-8">{{ 'CALCULATOR_LAND_TRANSFER_TAX.TOTAL_TAX' | translate }}</label>
            <div class="col-4"><i style="color: blue" class="fas fa-arrow-circle-right"></i>&nbsp;&nbsp;<span>{{totalLTT | currency}}</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="container">
  <h2>{{ 'CALCULATOR_LAND_TRANSFER_TAX.LAND_TRANSFER_TAX_RATE_HEADING' | translate }}</h2>
  <p>{{ 'CALCULATOR_LAND_TRANSFER_TAX.LAND_TRANSFER_TAX_RATE_PARAGRAPH' | translate }}</p>
  <mat-card>
    <table style="margin: 0 auto" class="rh-table text" cellpadding="10" cellspacing="10">
      <thead>
        <tr>
          <th>
            <b>{{ 'CALCULATOR_LAND_TRANSFER_TAX.COL1_PURCHASE_PRICE' | translate }}</b>
          </th>
          <th>
            <b>{{ 'CALCULATOR_LAND_TRANSFER_TAX.COL2_LAND_TRANSFER_FEE' | translate }}</b>
          </th>
          <th>
            <b>{{ 'CALCULATOR_LAND_TRANSFER_TAX.COL3_FIRST_TIME_REBATE' | translate }}</b>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ 'CALCULATOR_LAND_TRANSFER_TAX.GREATER_EQUAL_55000' | translate }}</td>
          <td>0.5%</td>
          <td>{{ 'CALCULATOR_LAND_TRANSFER_TAX.FULL_TAX_REBATE' | translate }}</td>
        </tr>
        <tr>
          <td>$55,000.01 {{ 'CALCULATOR_LAND_TRANSFER_TAX.TO' | translate }} $250,000.00</td>
          <td>1.0%</td>
          <td>{{ 'CALCULATOR_LAND_TRANSFER_TAX.FULL_TAX_REBATE' | translate }}</td>
        </tr>
        <tr>
          <td>$250,000.01 {{ 'CALCULATOR_LAND_TRANSFER_TAX.TO' | translate }} $368,333</td>
          <td>1.5%</td>
          <td>{{ 'CALCULATOR_LAND_TRANSFER_TAX.FULL_TAX_REBATE' | translate }}</td>
        </tr>
        <tr>
          <td>$368,334 {{ 'CALCULATOR_LAND_TRANSFER_TAX.TO' | translate }} $400,000.00</td>
          <td>1.5%</td>
          <td>{{ 'CALCULATOR_LAND_TRANSFER_TAX.TAX_REBATE_4000' | translate }}</td>
        </tr>
        <tr>
          <td>$400,000.01 {{ 'CALCULATOR_LAND_TRANSFER_TAX.TO' | translate }} $2,000,000.00</td>
          <td>2.0%</td>
          <td>{{ 'CALCULATOR_LAND_TRANSFER_TAX.TAX_REBATE_4000' | translate }}</td>
        </tr>
        <tr>
          <td>{{ 'CALCULATOR_LAND_TRANSFER_TAX.OVER_2MIL' | translate }}</td>
          <td>2.5%</td>
          <td>{{ 'CALCULATOR_LAND_TRANSFER_TAX.TAX_REBATE_4000' | translate }}</td>
        </tr>
      </tbody>
    </table>
  </mat-card>
  <br>
</div>

<hr>

<div class="container">
  <h2>{{ 'CALCULATOR_LAND_TRANSFER_TAX.LAND_TRANSFER_TAX_REBATE_HEADING' | translate }}</h2>
  <p>{{ 'CALCULATOR_LAND_TRANSFER_TAX.LAND_TRANSFER_TAX_REBATE_PARAGRAPH' | translate }}</p>
  <mat-card>
    <table style="margin: 0 auto" class="rh-table text" cellpadding="10" cellspacing="10">
      <thead>
        <tr>
          <th>
            <b>{{ 'CALCULATOR_LAND_TRANSFER_TAX.COL1_PURCHASE_PRICE' | translate }}</b>
          </th>
          <th>
            <b>{{ 'CALCULATOR_LAND_TRANSFER_TAX.COL2_LAND_TRANSFER_FEE' | translate }}</b>
          </th>
          <th>
            <b>{{ 'CALCULATOR_LAND_TRANSFER_TAX.COL3_FIRST_TIME_REBATE' | translate }}</b>
          </th>
          <th>
            <b>{{ 'CALCULATOR_LAND_TRANSFER_TAX.COL4_NET_TAX' | translate }}</b>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>$100,000</td>
          <td>$725</td>
          <td>$725</td>
          <td>$0</td>
        </tr>
        <tr>
          <td>$200,000</td>
          <td>$1,725</td>
          <td>$1,725</td>
          <td>$0</td>
        </tr>
        <tr>
          <td>$227,500</td>
          <td>$2,000</td>
          <td>$2,000</td>
          <td>$0</td>
        </tr>
        <tr>
          <td>$600,000</td>
          <td>$8,475</td>
          <td>$4,000</td>
          <td>$4,475</td>
        </tr>
      </tbody>
    </table>
  </mat-card>
  <br>
</div>

<hr>

<div class="container">
  <h2>{{ 'CALCULATOR_LAND_TRANSFER_TAX.FIRSTTIME_ELIGIBILITY_HEADING' | translate }}</h2>
  <ol type="1">
    <li>{{ 'CALCULATOR_LAND_TRANSFER_TAX.FIRSTTIME_ELIGIBILITY_P1' | translate }}</li>
    <li>{{ 'CALCULATOR_LAND_TRANSFER_TAX.FIRSTTIME_ELIGIBILITY_P2' | translate }}</li>
    <li>{{ 'CALCULATOR_LAND_TRANSFER_TAX.FIRSTTIME_ELIGIBILITY_P3' | translate }}</li>
    <li>{{ 'CALCULATOR_LAND_TRANSFER_TAX.FIRSTTIME_ELIGIBILITY_P4' | translate }}</li>
    <li>{{ 'CALCULATOR_LAND_TRANSFER_TAX.FIRSTTIME_ELIGIBILITY_P5' | translate }}</li>
    <li>{{ 'CALCULATOR_LAND_TRANSFER_TAX.FIRSTTIME_ELIGIBILITY_P6' | translate }}</li>
    <li>{{ 'CALCULATOR_LAND_TRANSFER_TAX.FIRSTTIME_ELIGIBILITY_P7' | translate }}</li>
  </ol>
  
  <hr>

  <h2>{{ 'CALCULATOR_LAND_TRANSFER_TAX.FIRSTTIME_REBATE_HEADING' | translate }}</h2>
  <p>{{ 'CALCULATOR_LAND_TRANSFER_TAX.FIRSTTIME_REBATE_P1' | translate }}</p>
  <ol type="1">
    <li>{{ 'CALCULATOR_LAND_TRANSFER_TAX.FIRSTTIME_REBATE_P2' | translate }}</li>
    <li>{{ 'CALCULATOR_LAND_TRANSFER_TAX.FIRSTTIME_REBATE_P3' | translate }}</li>
    <li>{{ 'CALCULATOR_LAND_TRANSFER_TAX.FIRSTTIME_REBATE_P4' | translate }}</li>
    <li>{{ 'CALCULATOR_LAND_TRANSFER_TAX.FIRSTTIME_REBATE_P5' | translate }}</li>
  </ol>
</div>

<hr>

<div class="container">
  {{ 'CALCULATOR_LAND_TRANSFER_TAX.REF_AND_NOTES' | translate }}
  <span><a href="http://www.fin.gov.on.ca/en/bulletins/ltt/2_2005.html">{{ 'CALCULATOR_LAND_TRANSFER_TAX.GOV_LAND_TRANSFER_TAX' | translate }}</a></span>
  <p><a href="http://www.fin.gov.on.ca/en/bulletins/ltt/1_2008.html">{{ 'CALCULATOR_LAND_TRANSFER_TAX.GOV_FIRST_TIME_BUYER_REFUNDS' | translate }}</a></p>
</div>

<app-contact-us></app-contact-us>
<app-footer></app-footer>
