<form [formGroup]="formGroup">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <i class="fas fa-chevron-right"></i>
      </div>
      <mat-card-title>Let's get started</mat-card-title>
    </mat-card-header>

    <!-- Regular Screen -->
    <mat-card-content class="row d-none d-md-block">
      <mat-button-toggle-group class="col-12" formControlName="selectedPurpose">
        <mat-label class="col-2" style="font-weight: 500; margin-top: auto; margin-bottom: auto">Mortgage Purpose:</mat-label>
        <mat-button-toggle class="col-2" style="margin-top: auto; margin-bottom: auto" *ngFor="let option of purpose" [value]="option.value">
          {{option.title}}
        </mat-button-toggle>
      </mat-button-toggle-group>
      <mat-button-toggle-group class="col-12" formControlName="selectedType">
        <mat-label class="col-2" style="font-weight: 500; margin-top: auto; margin-bottom: auto">Mortgage Type:</mat-label>
        <mat-button-toggle class="col-2" style="margin-top: auto; margin-bottom: auto" *ngFor="let option of type" [value]="option.value">
          {{option.title}}
        </mat-button-toggle>
      </mat-button-toggle-group>
      <mat-button-toggle-group class="col-12" formControlName="selectedTerm">
        <mat-label class="col-2" style="font-weight: 500; margin-top: auto; margin-bottom: auto">Mortgage Term:</mat-label>
        <mat-button-toggle class="col-2" style="margin-top: auto; margin-bottom: auto" *ngFor="let option of term" [value]="option.value">
          {{option.title}}
        </mat-button-toggle>
      </mat-button-toggle-group>
      <mat-button-toggle-group class="col-12" formControlName="selectedOccupancy">
        <mat-label class="col-2" style="font-weight: 500; margin-top: auto; margin-bottom: auto">Occupancy:</mat-label>
        <mat-button-toggle class="col-2" style="margin-top: auto; margin-bottom: auto" *ngFor="let option of occupancy" [value]="option.value">
          {{option.title}}
        </mat-button-toggle>
      </mat-button-toggle-group>
      <mat-button-toggle-group class="col-12" formControlName="selectedCreditScore">
        <mat-label class="col-2" style="font-weight: 500; margin-top: auto; margin-bottom: auto">Credit Score:</mat-label>
        <mat-button-toggle class="col-2" style="margin-top: auto; margin-bottom: auto" *ngFor="let option of creditScore" [value]="option.value">
          {{option.title}}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-content>

    <!-- Mobile Screen -->
    <mat-card-content class="row d-md-none" style="margin-top: auto; margin-bottom: auto; text-align: left; display: block; position: relative; height: 50%">
      <mat-form-field appearance="fill" class="col-12" style="height: 10px; font-weight: 500; display: inline-block">
        <mat-select placeholder="Mortgage Purpose" formControlName="selectedPurpose">
          <mat-option *ngFor="let option of purpose" [value]="option.value">
            {{option.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-12" style="height: 10px; font-weight: 500; margin-top: 0.7rem; margin-bottom: 0rem;">
        <mat-select placeholder="Mortgage Type" formControlName="selectedType">
          <mat-option *ngFor="let option of type" [value]="option.value">
            {{option.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-12" style="height: 10px; font-weight: 500; margin-top: 0.7rem; margin-bottom: 0rem;">
        <mat-select placeholder="Mortgage Term" formControlName="selectedTerm">
          <mat-option *ngFor="let option of term" [value]="option.value">
            {{option.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-12" style="height: 10px; font-weight: 500; margin-top: 0.7rem; margin-bottom: 0rem;">
        <mat-select placeholder="Occupancy" formControlName="selectedOccupancy">
          <mat-option *ngFor="let option of occupancy" [value]="option.value">
            {{option.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-12" style="height: 10px; font-weight: 500; margin-top: 0.7rem; margin-bottom: 0rem;">
        <mat-select placeholder="Credit Score" formControlName="selectedCreditScore">
          <mat-option *ngFor="let option of creditScore" [value]="option.value">
            {{option.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <!-- <mat-card-content>
      <mat-button-toggle-group formControlName="selectedPurpose">
        Mortgage Purpose:
        <mat-button-toggle *ngFor="let option of purpose" [value]="option.value">
          {{option.title}}
        </mat-button-toggle>
      </mat-button-toggle-group>
      <mat-button-toggle-group formControlName="selectedType">
        Mortgage Type:
        <mat-button-toggle *ngFor="let option of type" [value]="option.value">
          {{option.title}}
        </mat-button-toggle>
      </mat-button-toggle-group>
      <mat-button-toggle-group formControlName="selectedTerm">
        Mortgage Term:
        <mat-button-toggle *ngFor="let option of term" [value]="option.value">
          {{option.title}}
        </mat-button-toggle>
      </mat-button-toggle-group>
      <mat-button-toggle-group formControlName="selectedOccupancy">
        Occupancy:
        <mat-button-toggle *ngFor="let option of occupancy" [value]="option.value">
          {{option.title}}
        </mat-button-toggle>
      </mat-button-toggle-group>
      <mat-button-toggle-group formControlName="selectedCreditScore">
        Credit Score:
        <mat-button-toggle *ngFor="let option of creditScore" [value]="option.value">
          {{option.title}}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-content> -->
    <mat-card-actions></mat-card-actions>
    <mat-card-footer></mat-card-footer>
  </mat-card>
  <p></p>
  <div>
    <button mat-raised-button matStepperNext color="primary" (click)="save()" [disabled]="formGroup.invalid">Next</button>
  </div>
</form>