<form [formGroup]="formGroup">

  <div class="container">
    <div class="inner-wrapper mt-auto mb-auto container">

      <div class="row">
        <div class="col-md-3 orange">
          Mortgage Purpose:
        </div>
        <div class="col-md-3 orange">
          Purchase
        </div>
        <div class="col-md-3 orange">
          Renewal
        </div>
        <div class="col-md-3 orange">
          Refinance
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 orange">
          Mortgage Type:
        </div>
        <div class="col-md-2 orange">
          Fixed
        </div>
        <div class="col-md-2 orange">
          Variable
        </div>
        <div class="col-md-2 orange">
          Variable-Open
        </div>
        <div class="col-md-2 orange">
          Fixed-Open
        </div>
        <div class="col-md-2 orange">
          I'm Not Sure
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 orange">
          Mortgage Term:
        </div>
        <div class="col-md-2 orange">
          1
        </div>
        <div class="col-md-2 orange">
          2
        </div>
        <div class="col-md-2 orange">
          3
        </div>
        <div class="col-md-2 orange">
          4
        </div>
        <div class="col-md-2 orange">
          5
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 orange">
          Occupancy:
        </div>
        <div class="col-md-4 orange">
          Owner-Occupied
        </div>
        <div class="col-md-4 orange">
          Tenant-Occupied
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 orange">
          Credit Score:
        </div>
        <div class="col-md-2 orange">
          600 to 649
        </div>
        <div class="col-md-2 orange">
         650 to 699
        </div>
        <div class="col-md-2 orange">
          700 to 749
        </div>
        <div class="col-md-2 orange">
          750+
        </div>
        <div class="col-md-2 orange">
          I'm Not Sure
        </div>
      </div>

    </div>
  </div>
  <p></p>
  <div>
      <button mat-raised-button matStepperNext color="primary">Next</button>
  </div>
</form>