<form [formGroup]="formGroup">
  <mat-form-field>
    <input matInput placeholder="Enter here" formControlName="ctrl" required>
  </mat-form-field>
  <div class="container">
    <div class="inner-wrapper mt-auto mb-auto container">

      <div class="row">
        <div class="col-md-3 orange">
          Mortgage Purpose:
        </div>
        <div class="col-md-3 orange">
          Purchase
        </div>
        <div class="col-md-3 orange">
          Renewal
        </div>
        <div class="col-md-3 orange">
          Refinance
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 orange">
          Mortgage Type:
        </div>
        <div class="col-md-2 orange">
          Fixed
        </div>
        <div class="col-md-2 orange">
          Variable
        </div>
        <div class="col-md-2 orange">
          Variable-Open
        </div>
        <div class="col-md-2 orange">
          Fixed-Open
        </div>
        <div class="col-md-2 orange">
          I'm Not Sure
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 orange">
          Mortgage Term:
        </div>
        <div class="col-md-2 orange">
          1
        </div>
        <div class="col-md-2 orange">
          2
        </div>
        <div class="col-md-2 orange">
          3
        </div>
        <div class="col-md-2 orange">
          4
        </div>
        <div class="col-md-2 orange">
          5
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 orange">
          Occupancy:
        </div>
        <div class="col-md-4 orange">
          Owner-Occupied
        </div>
        <div class="col-md-4 orange">
          Tenant-Occupied
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 orange">
          Lender Type:
        </div>
        <div class="col-md-2 orange">
          Tier 1
        </div>
        <div class="col-md-2 orange">
          Tier 2
        </div>
        <div class="col-md-2 orange">
          Tier 3
        </div>
        <div class="col-md-2 orange">
          Private
        </div>
        <div class="col-md-2 orange">
          I'm Not Sure
        </div>
      </div>

    </div>
  </div>
  <div>
    <button mat-button matStepperNext>Next</button>
  </div>
</form>