<form [formGroup]="formGroup">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <i class="fas fa-chevron-right"></i>
      </div>
      <mat-card-title>{{ 'MORTGAGE_BUILDER_CONSENT.DOC_REQ' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <app-upload [fileUploadList]="fileUploadList"></app-upload>
    </mat-card-content>
    <mat-card-header>
      <div mat-card-avatar>
        <i class="fas fa-chevron-right"></i>
      </div>
      <mat-card-title>{{ 'MORTGAGE_BUILDER_CONSENT.DISCLOSURE' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      {{ 'MORTGAGE_BUILDER_CONSENT.CONTENT_P1' | translate }}
      <p></p>
      <p>
        <b>{{ 'MORTGAGE_BUILDER_CONSENT.CONTENT_P2' | translate }}</b>
      </p>
      <p>{{ 'MORTGAGE_BUILDER_CONSENT.CONTENT_P3' | translate }}</p>
    </mat-card-content>
    <hr>
    <div class="container row">
      <mat-checkbox class="col-0.5" style="margin-top: 10px; margin-bottom: 0px; text-align: right" formControlName="consent"></mat-checkbox>
      <p class="col" style="margin-top: auto; margin-bottom: auto; margin-left: 0;">{{ 'MORTGAGE_BUILDER_CONSENT.CONTENT_P4' | translate }}</p>
    </div>
    <p></p>
    <!-- <mat-checkbox>MeFinance may contact you about products and services you may like</mat-checkbox> -->
    <mat-card-actions></mat-card-actions>
    <mat-card-footer></mat-card-footer>
  </mat-card>
  <p></p>
  <div>
    <button mat-raised-button matStepperPrevious>{{ 'MORTGAGE_BUILDER_CONSENT.BACK_BUTTON' | translate }}</button>
    <button mat-raised-button matStepperNext color="primary" (click)="consent()" [disabled]="formGroup.invalid">{{ 'MORTGAGE_BUILDER_CONSENT.SUBMIT_BUTTON' | translate }}</button>
  </div>
</form>