<form [formGroup]="formGroup">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <i class="fas fa-chevron-right"></i>
      </div>
      <mat-card-title>Consent</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Hilary (c. 1110–1169) was a medieval Bishop of Chichester in England. English by birth, he studied canon law and worked in
      Rome as a papal clerk. During his time there, he became acquainted with a number of ecclesiastics, including the future
      Pope Adrian IV, and the medieval writer John of Salisbury. In England, he served as a clerk for Henry of Blois, who
      was the Bishop of Winchester and brother of King Stephen of England. After Hilary's unsuccessful nomination to become
      Archbishop of York, Pope Eugene III compensated him by promoting him to the bishopric of Chichester in 1147.
      <p></p>
      Hilary spent many years in a struggle with Battle Abbey, attempting to assert his right as bishop to oversee the abbey. He
      also clashed with Thomas Becket, then chancellor to King Henry II of England, later Archbishop of Canterbury; Hilary
      supported King Henry II's position in the conflict with Becket. Henry appointed Hilary as sheriff and employed him
      as a judge in the royal courts. The papacy also used Hilary as a judge-delegate, to hear cases referred back to England.
      Known for supporting his clergy and as a canon lawyer, or someone trained in ecclesiastical law, Hilary worked to have
      Edward the Confessor, a former English king, canonised as a saint.
    </mat-card-content>
    <hr>
    <mat-checkbox>I have read and agree to the terms and conditions and privacy & cookies notice.</mat-checkbox>
    <p></p>
    <mat-checkbox>MeFinance may contact you about products and services you may like</mat-checkbox>
    <mat-card-actions></mat-card-actions>
    <mat-card-footer></mat-card-footer>
  </mat-card>
  <p></p>
  <div>
    <button mat-raised-button matStepperPrevious>Back</button>
    <button mat-raised-button matStepperNext color="primary" [disabled]="formGroup.invalid">Create</button>
  </div>
</form>