<div class="col-10 col-md-6 col-lg-6">
  <div *ngIf="currentFile" class="col-12 progress">
    <div class="col-12 progress-bar progress-bar-info progress-bar-striped"
      role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
      aria-valuemin="0" aria-valuemax="100"
      [ngStyle]="{width:progress.percentage+'%'}">
      {{progress.percentage}}%
    </div>
  </div>
  
  <label class="col-12 btn btn-default"> 
    <input type="file" class="col-12" (change)="selectFile($event)">
  </label>
  <div class="col-12" *ngFor="let error of errorMessages">
    {{error}}
  </div>
  <button class="col-12 btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
</div>
