<app-header></app-header>

<div class="welcomeprivacy d-flex justify-content-center flex-column">
    <div class="inner-wrapper mt-auto mb-auto container">
      <div class="row">
        <div class="col-md-7">
            <h1 class="welcome-heading display-4 text-white">Privacy & Security Policy</h1>
            <!-- <p class="text-white">Proudly Canadian</p> -->
            <!-- <a href="#our-services" class="btn btn-lg btn-outline-white btn-pill align-self-center">Learn More</a> -->
        </div>
      </div>
    </div>
  </div>

  
  
<div class="testimonials section py-4">
  <h3 class="section-title text-center m-5">Our Privacy & Security Policy</h3>

  <div class="container py-5">
<div class="row">
MeeFinancial Inc. is committed to protecting the confidentiality and security of its clients' personal information. 
This page answers some of your most frequently asked questions, and lets you know exactly how we are protecting the information you entrust to us. 
MeeFiancial aims to comply with the spirit and letter of all applicable privacy legislation.
We disclose the privacy & security practices for www.meefinancial.com and will notify you of the following:
<ul>
  <li>What personally identifiable information is collected from you through the web site and how it is used and with whom it may be shared</li>
  <li>What choices are available to you regarding the use of your data</li>
  <li>The security procedures in place to protect the misuse of your information</li>
  <li>How you can correct any inaccuracies in the information</li>
</ul>
<hr>
<p><b>INFORMATION COLLECTION, USE, AND SHARING</b></p>
<ul>
  <li>We are the sole owners of the information collected via this website. </li>
  <li>We only have access to collect information that you voluntarily give us via email or other direct contact from you. </li>
  <li>We will not sell or rent this information to anyone. </li>
  <li>We will use your information to respond to you, regarding the reason you contacted us. </li>
  <li>We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g. to assist with funding your mortgage. We may contact you via email in the future to inform you on promotions, new products or services, or changes to this privacy policy.</li>
</ul>
<hr>
<p><b>YOUR ACCESS TO AND CONTROL OVER INFORMATION</b></p>
You can contact us via the email address given on our website to remove the information you submitted.
<hr>
<p><b>SECURITY</b></p>
We take great measures to protect your information at MeeFinancial. Once you have submitted your information to us, we maintain above industry standard efforts to safeguard the confidentiality of your information. We also restrict internal access of stored data to select employees. If you have any concerns involving the security or privacy of your information, you can contact us at privacy@MeeFiancial.ca
<hr>
<p><b>UPDATES</b></p> 
Our Policy may change from time to time and all updates will be posted on this page. 
If you feel that we are not abiding by this policy, you should contact us immediately via our contact form or email us at privacy@MeeFinancial.ca.
</div>
</div>
</div>
  
  
  
  <app-contact-us></app-contact-us>
  <app-footer></app-footer>

  