.welcomeprivacy {
    position: relative;
    height: 50vh;
    min-height: 300px;
    background: url("../../assets/images/gilles-lambert-8649-unsplash.jpg") no-repeat bottom center fixed;
    background-size: cover;
  }

  .welcomeprivacy:before {
    position: absolute;
    z-index: 0;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .4;
    background: rgb(125, 130, 136);
  }


.welcomeprivacy .welcome-heading {
font-size: 2.415rem;
}
