<app-header></app-header>

<div class="welcomeprivacy d-flex justify-content-center flex-column">
    <div class="inner-wrapper mt-auto mb-auto container">
      <div class="row">
        <div class="col-md-7">
            <h1 class="welcome-heading display-4 text-white">{{ 'PRIVACY.TITLE' | translate }}</h1>
            <!-- <p class="text-white">Proudly Canadian</p> -->
            <!-- <a href="#our-services" class="btn btn-lg btn-outline-white btn-pill align-self-center">Learn More</a> -->
        </div>
      </div>
    </div>
  </div>

<div class="testimonials section py-4">
  <h3 class="section-title text-center m-5">{{ 'PRIVACY.TITLE_DETAILS' | translate }}</h3>

  <div class="container py-5">
    {{ 'PRIVACY.PARAGRAPH1_BODY' | translate }}
    <ul>
      <li>{{ 'PRIVACY.PARAGRAPH1_L1' | translate }}</li>
      <li>{{ 'PRIVACY.PARAGRAPH1_L2' | translate }}</li>
      <li>{{ 'PRIVACY.PARAGRAPH1_L3' | translate }}</li>
      <li>{{ 'PRIVACY.PARAGRAPH1_L4' | translate }}</li>
    </ul>
    
    <p> </p><b>{{ 'PRIVACY.PARAGRAPH2_TITLE' | translate }}</b>
    <ul>
      <li>{{ 'PRIVACY.PARAGRAPH2_L1' | translate }}</li>
      <li>{{ 'PRIVACY.PARAGRAPH2_L2' | translate }}</li>
      <li>{{ 'PRIVACY.PARAGRAPH2_L3' | translate }}</li>
      <li>{{ 'PRIVACY.PARAGRAPH2_L4' | translate }}</li>
      <li>{{ 'PRIVACY.PARAGRAPH2_L5' | translate }}</li>
    </ul>
    
    <p> </p><b>{{ 'PRIVACY.PARAGRAPH3_TITLE' | translate }}</b>
    {{ 'PRIVACY.PARAGRAPH3_BODY' | translate }}
        
    <p> </p><b>{{ 'PRIVACY.PARAGRAPH4_TITLE' | translate }}</b>
    {{ 'PRIVACY.PARAGRAPH4_BODY' | translate }}

    <p> </p><b>{{ 'PRIVACY.PARAGRAPH5_TITLE' | translate }}</b>
    {{ 'PRIVACY.PARAGRAPH5_BODY' | translate }}
    
</div>
</div>
  
  
  
  <app-contact-us></app-contact-us>
  <app-footer></app-footer>

  