<div class="row" style="display: flex; margin-top: 5%; margin-bottom: 5%; margin-left: 15%; margin-right: 15%">
  <div class="container col-lg-6 col-md-6 col-12">
    <h2>{{ 'MORTGAGE_REMINDER.TITLE' | translate }}</h2>
    <br>
    <p>{{ 'MORTGAGE_REMINDER.BODY' | translate }}</p>
    <img alt="Reminder" style="width: 80%; height: auto; display: block; margin: 0 auto;" src="assets/images/kelly-sikkema-411622-unsplash.jpg">
    <h2><br></h2>
  </div>
  <div class="container col-lg-6 col-md-6 col-12">
    <mat-card>
      <form [formGroup]="mortgageReminderForm" (ngSubmit)="submitMortgageReminder()">
        <mat-card-title>{{ 'MORTGAGE_REMINDER.FORM_TITLE' | translate }}</mat-card-title>
        <mat-card-content class="mortgage-reminder-container">
          <!-- Date -->
          <mat-form-field>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="{{ 'MORTGAGE_REMINDER.DATE_PLACEHOLD' | translate }}" formControlName="date" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
            <mat-error *ngFor="let validation of reminder_validation_messages.date">
              <mat-error *ngIf="mortgageReminderForm.get('date').hasError(validation.type) && (mortgageReminderForm.get('date').dirty || mortgageReminderForm.get('date').touched)">
                {{ validation.message | translate }}
              </mat-error>
            </mat-error> 
          </mat-form-field>
          <!-- Name -->
          <mat-form-field>
            <input matInput type="text" placeholder="{{ 'MORTGAGE_REMINDER.NAME_PLACEHOLD' | translate }}" formControlName="name" required>
            <mat-error *ngFor="let validation of reminder_validation_messages.name">
              <mat-error *ngIf="mortgageReminderForm.get('name').hasError(validation.type) && (mortgageReminderForm.get('name').dirty || mortgageReminderForm.get('name').touched)">
                {{ validation.message | translate }}
              </mat-error>
            </mat-error> 
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
          <!-- Phone -->
          <mat-form-field>
            <input matInput type="number" placeholder="{{ 'MORTGAGE_REMINDER.PHONE_PLACEHOLD' | translate }}" formControlName="phone" required>
            <mat-error *ngFor="let validation of reminder_validation_messages.phone">
              <mat-error *ngIf="mortgageReminderForm.get('phone').hasError(validation.type) && (mortgageReminderForm.get('phone').dirty || mortgageReminderForm.get('phone').touched)">
                {{ validation.message | translate }}
              </mat-error>
            </mat-error> 
            <mat-icon matSuffix>phone</mat-icon>
          </mat-form-field>
          <!-- Email -->
          <mat-form-field>
            <input matInput type="email" placeholder="{{ 'MORTGAGE_REMINDER.EMAIL_PLACEHOLD' | translate }}" formControlName="email" required>
            <mat-error *ngFor="let validation of reminder_validation_messages.email">
              <mat-error *ngIf="mortgageReminderForm.get('email').hasError(validation.type) && (mortgageReminderForm.get('email').dirty || mortgageReminderForm.get('email').touched)">
                {{ validation.message | translate }}
              </mat-error>
            </mat-error> 
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
          <!-- Note -->
          <mat-form-field>
            <textarea matInput #note type="text" maxlength="256" placeholder="{{ 'MORTGAGE_REMINDER.NOTE_PLACEHOLD' | translate }}" formControlName="note"></textarea>
            <mat-icon matSuffix>translate</mat-icon>
            <mat-hint align="end">{{note.value?.length || 0}}/256</mat-hint>
            <mat-error *ngFor="let validation of reminder_validation_messages.note">
              <mat-error *ngIf="mortgageReminderForm.get('note').hasError(validation.type) && (mortgageReminderForm.get('note').dirty || mortgageReminderForm.get('note').touched)">
                {{ validation.message | translate }}
              </mat-error>
            </mat-error> 
          </mat-form-field>
          <!-- Location & Get Newsletter-->
          <mat-form-field>
            <mat-select placeholder="{{ 'MORTGAGE_REMINDER.PROV_PLACEHOLD' | translate }}" formControlName="province">
              <mat-option *ngFor="let option of province" [value]="option">{{option | translate}}</mat-option>
            </mat-select>
            <mat-error *ngFor="let validation of reminder_validation_messages.province">
                <mat-error *ngIf="mortgageReminderForm.get('province').hasError(validation.type) && (mortgageReminderForm.get('province').dirty || mortgageReminderForm.get('province').touched)">
                  {{ validation.message | translate }}
                </mat-error>
              </mat-error> 
            <mat-icon matSuffix>home</mat-icon>
          </mat-form-field>
          <section class="row">
            <mat-checkbox class="col-1" formControlName="chkNewsletter"></mat-checkbox>
            <p class="col">{{ 'MORTGAGE_REMINDER.SUBSCRIBE' | translate }}</p>
          </section>
          <!-- Submit Button -->
          <button mat-raised-button color="primary" type="submit" [disabled]="!mortgageReminderForm.valid">{{ button | translate }}</button>
        </mat-card-content>
      </form>
    </mat-card>
  </div>
</div>