.mortgage-reminder-container {
    display: flex;
    flex-direction: column;
}

.mortgage-reminder-container > * {
    width: 100%;
}

div, p, form, h2, mat-card, mat-card-title, mat-card-content, mat-form-field {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}