<nav class="navbar navbar-light navbar-expand-lg  bg-faded">
  <div class="navbar-header">
    <a class="navbar-brand" routerLink="/home">
      <img src="../../assets/images/Logo2.svg" class="mr-2" alt="MeeFinancial - The Better Way To Get Mortgage" style="height:80px;"></a>
  </div>

  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">{{ 'HEADER.ABOUT' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/howItWorks">{{ 'HEADER.HOW_TO' | translate }}</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/faq">{{ 'HEADER.FAQ' | translate }}</a>
        </li>      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">{{ 'HEADER.CALCULATORS' | translate }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/calculator/monthlyPayment">{{ 'HEADER.MONTHLY_PAYMENT' | translate }}</a>
          <a class="dropdown-item" routerLink="/calculator/affordability">{{ 'HEADER.AFFORDABILITY' | translate }}</a>
          <a class="dropdown-item" routerLink="/calculator/ontarioLandTransferTax">{{ 'HEADER.ONTARIO_LAND_TRANSFER_TAX' | translate }}</a>
        </div>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="admin">User Info</a>
            <a class="dropdown-item" routerLink="admin/contactUs">ContactUs Info</a>
        </div>
      </li> -->

      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="register">SignUp
          <i class="fas fa-user-plus"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login">Login
          <i class="fas fa-user"></i>
        </a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/mortgage">
          <button type="button" class="btn btn-primary btn-sm">{{ 'HEADER.MORTGAGE_BUILDER' | translate }}</button>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link circle" (click)="switchLanguage('en')">EN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link circle" (click)="switchLanguage('zh')">中</a>
      </li>
      <!-- <li class="nav-item">
          <label>
            {{ 'HEADER.SELECT_LANGUAGE' | translate }}
            <select #langSelect (change)="translate.use(langSelect.value)">
              <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
            </select>
          </label>
      </li> -->
    </ul>
  </div>
</nav>