<app-header></app-header>

<div class="welcome d-flex justify-content-center flex-column">
  <p></p>
  <p></p>
  <div class="container">
    <div class="inner-wrapper mt-auto mb-auto container">

      <form [formGroup]="formGroup">
        <mat-card>
          <!-- Regular Screen -->
          <mat-card-content class="row d-none d-md-block">
            <mat-button-toggle-group class="col-12" formControlName="selectedPurpose">
              <mat-label class="col-2" style="font-weight: 500; margin-top: auto; margin-bottom: auto">Mortgage Purpose:</mat-label>
              <mat-button-toggle class="col-2" style="margin-top: auto; margin-bottom: auto" *ngFor="let option of purpose" [value]="option.value">
                {{option.title}}
              </mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group class="col-12" formControlName="selectedType">
              <mat-label class="col-2" style="font-weight: 500; margin-top: auto; margin-bottom: auto">Mortgage Type:</mat-label>
              <mat-button-toggle class="col-2" style="margin-top: auto; margin-bottom: auto" *ngFor="let option of type" [value]="option.value">
                {{option.title}}
              </mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group class="col-12" formControlName="selectedTerm">
              <mat-label class="col-2" style="font-weight: 500; margin-top: auto; margin-bottom: auto">Mortgage Term:</mat-label>
              <mat-button-toggle class="col-2" style="margin-top: auto; margin-bottom: auto" *ngFor="let option of term" [value]="option.value">
                {{option.title}}
              </mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group class="col-12" formControlName="selectedOccupancy">
              <mat-label class="col-2" style="font-weight: 500; margin-top: auto; margin-bottom: auto">Occupancy:</mat-label>
              <mat-button-toggle class="col-2" style="margin-top: auto; margin-bottom: auto" *ngFor="let option of occupancy" [value]="option.value">
                {{option.title}}
              </mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group class="col-12" formControlName="selectedCreditScore">
              <mat-label class="col-2" style="font-weight: 500; margin-top: auto; margin-bottom: auto">Credit Score:</mat-label>
              <mat-button-toggle class="col-2" style="margin-top: auto; margin-bottom: auto" *ngFor="let option of creditScore" [value]="option.value">
                {{option.title}}
              </mat-button-toggle>
            </mat-button-toggle-group>
          </mat-card-content>

          <!-- Mobile Screen -->
          <mat-card-content class="row d-md-none" style="margin-top: auto; margin-bottom: auto; text-align: left; display: block; position: relative; height: 50%">
            <mat-form-field appearance="fill" class="col-12" style="height: 10px; font-weight: 500; display: inline-block">
              <mat-select placeholder="Mortgage Purpose" formControlName="selectedPurpose">
                <mat-option *ngFor="let option of purpose" [value]="option.value">
                  {{option.title}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="col-12" style="height: 10px; font-weight: 500; margin-top: 0.7rem; margin-bottom: 0rem;">
              <mat-select placeholder="Mortgage Type" formControlName="selectedType">
                <mat-option *ngFor="let option of type" [value]="option.value">
                  {{option.title}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="col-12" style="height: 10px; font-weight: 500; margin-top: 0.7rem; margin-bottom: 0rem;">
              <mat-select placeholder="Mortgage Term" formControlName="selectedTerm">
                <mat-option *ngFor="let option of term" [value]="option.value">
                  {{option.title}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="col-12" style="height: 10px; font-weight: 500; margin-top: 0.7rem; margin-bottom: 0rem;">
              <mat-select placeholder="Occupancy" formControlName="selectedOccupancy">
                <mat-option *ngFor="let option of occupancy" [value]="option.value">
                  {{option.title}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="col-12" style="height: 10px; font-weight: 500; margin-top: 0.7rem; margin-bottom: 0rem;">
              <mat-select placeholder="Credit Score" formControlName="selectedCreditScore">
                <mat-option *ngFor="let option of creditScore" [value]="option.value">
                  {{option.title}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-card-content>

          <mat-card-actions></mat-card-actions>

          <mat-card-footer class="row" style="margin-top: auto; margin-bottom: auto; text-align: center">
            <a class="nav-link" routerLink="/mortgage">
              <button type="button" class="btn btn-primary btn-md" (click)="save()">Mortgage Builder</button>
            </a>
          </mat-card-footer>
        </mat-card>
      </form>
    </div>
  </div>
</div>

<p></p>
<div id="our-services" class="our-services section py-4">
  <h3 class="section-title text-center my-5">What we Offer </h3>
  <div class="features py-4 mb-4">
    <div class="container">
      <div class="row">

        <div class="feature py-4 col-md-6 d-flex align-items-stretch">
          <div class="icon text-primary mr-3">
            <img src="../../assets/images/homemortgage.png" height="50px">
            <!-- <i class="fas fa-check-circle"></i> -->
          </div>
          <div class="px-4">
            <h5>Home Mortgage</h5>
            <p>
              <h6>Becoming a home owner is an important milestone in your life. Learn how to become one today.</h6>
          </div>
        </div>

        <div class="feature py-4 col-md-6 d-flex align-items-stretch">
          <div class="icon text-primary mr-3">
            <img src="../../assets/images/renewal.png" height="50px">
            <!-- <i class="fas fa-user"></i> -->
          </div>
          <div class="px-4">
            <h5>Mortgage Renewal</h5>
            <p>
              <h6>If your mortgage is up for renewal soon, connect with us and take advantage of competitive interest rates.</h6>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="feature py-4 col-md-6 d-flex align-items-stretch">
          <div class="icon text-primary mr-3">
            <img src="../../assets/images/first.png" height="50px">
            <!-- <i class="fas fa-users"></i> -->
          </div>
          <div class="px-4">
            <h5>First Time Home Buyer</h5>
            <p>
              <h6>Ready to take the first step into buying your first home? We can help you throughout the entire process.</h6>
          </div>
        </div>

        <div class="feature py-4 col-md-6 d-flex align-items-stretch">
          <div class="icon text-primary mr-3">
            <img src="../../assets/images/preapproval.png" height="50px">            
            <!-- <i class="fas fa-star"></i> -->
          </div>
          <div class="px-4">
            <h5>Pre-Approval Mortgage</h5>
            <p>
              <h6>Apply for a pre-approval mortgage ahead of time so you will know how much you can afford.</h6>
          </div>
        </div>

        <div class="feature py-4 col-md-6 d-flex align-items-stretch">
          <div class="icon text-primary mr-3">
            <img src="../../assets/images/investmentproperty.png" height="50px">             
            <!-- <i class="fas fa-star"></i> -->
          </div>
          <div class="px-4">
            <h5>Investment Property Mortgage</h5>
            <p>
              <h6>Buying an investment property is rapidly becoming the preferred investing method in recent times.</h6>
          </div>
        </div>     

        <div class="feature py-4 col-md-6 d-flex align-items-stretch">
          <div class="icon text-primary mr-3">
            <img src="../../assets/images/privatemortgage.png" height="50px">             
            <!-- <i class="fas fa-star"></i> -->
          </div>
          <div class="px-4">
            <h5>Private Mortgage</h5>
            <p>
              <h6>Private lenders will loan you money for a short period of time. Learn how you can take advantage of them.</h6>
          </div>
        </div>     

        <div class="feature py-4 col-md-6 d-flex align-items-stretch">
          <div class="icon text-primary mr-3">
            <img src="../../assets/images/HELOC.png" height="50px">              
            <!-- <i class="fas fa-star"></i> -->
          </div>
          <div class="px-4">
            <h5>Home Equity Loans</h5>
            <p>
              <h6>Need extra cash for renovations or to pay off bills? We can help.</h6>
          </div>
        </div>   

        <div class="feature py-4 col-md-6 d-flex align-items-stretch">
          <div class="icon text-primary mr-3">
            <img src="../../assets/images/debtconsolidation.png" height="50px">                       
            <!-- <i class="fas fa-star"></i> -->
          </div>
          <div class="px-4">
            <h5>Debt Consolidation</h5>
            <p>
              <h6>It’s good to deal with debt before they start to pile up. We can help.</h6>
          </div>
        </div>           
        
      </div>
    </div>
  </div>
</div>
<!-- /  Section -->

<!--  Section -->
<div class="blog section section-invert py-4">
  <h3 class="section-title text-center m-5">Why Work With Us?</h3>
  <div class="row" style="margin: 5px; padding: 10px;">
    <div class="card-deck">

      <div class="col-md-12 col-lg-3 d-flex align-items-stretch">
        <div class="card">
          <img class="card-img-top" src="assets/images/ashton-bingham-113943-unsplash.jpg" alt="Card image cap">
          <div class="card-body" style="height: auto">
            <h4 class="card-title">Clients First</h4>
            <p class="card-text">Clients come first. Full Stop. We make it simple to help you get your mortgage.</p>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-lg-3 d-flex align-items-stretch">
        <div class="card">
          <img class="card-img-top" src="assets/images/rawpixel-589073-unsplash.jpg" alt="Card image cap">
          <div class="card-body" style="height: auto">
            <h4 class="card-title">Objective Advice</h4>
            <p class="card-text">Free advice to help you with your mortgage needs.</p>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-lg-3 d-flex align-items-stretch">
        <div class="card">
          <img class="card-img-top" src="assets/images/tim-evans-88330-unsplash.jpg" alt="Card image cap">
          <div class="card-body" style="height: auto">
            <h4 class="card-title">Open Shelves Platform</h4>
            <p class="card-text">We are not restricted to one proprietary product. Our open product shelf enables us to find you the most
              suitable product with the best rate.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-lg-3 d-flex align-items-stretch">
        <div class="card">
          <img class="card-img-top" src="assets/images/handshake.jpg" alt="Card image cap">
          <div class="card-body" style="height: auto">
            <h4 class="card-title">Professional Partnership</h4>
            <p class="card-text">We work for you, not the Bank. You can count on our advice being impartial because we don't work for the
              lender. We always act in our clients' best interests.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<app-applynow></app-applynow>
<app-contact-us></app-contact-us>
<app-footer></app-footer>