<!-- <div class="welcome d-flex justify-content-center flex-column">      -->
  <!-- Inner Wrapper -->
  <!--Hero section and carousel-->
  <div class="welcome d-flex justify-content-center flex-column">
  <div class="container">
    <!-- <div class="inner-wrapper mt-auto mb-auto container"> -->
    <!-- <div class="row">
      <div class="col-md-7"> -->
          <h1 class="welcome-heading display-4 text-white">MeeFinancial - DIY Mortgage Backed by a Full Service Team</h1>
          <p class="text-white">Tech Savvy Online Mortgage Specialist with Canada's Best Rates, helping you get the product that is best suited for your needs.</p>
          <a href="#our-services" class="btn btn-lg btn-outline-white btn-pill align-self-center">Start My DIY Mortgage</a>
      <!-- </div>
    </div> -->
  </div>
  </div>
<!-- </div> -->


<!-- Our Services Section -->
<div id="our-services" class="our-services section py-4">
  <h3 class="section-title text-center my-5">Our Services</h3>
  <!-- Features -->
  <div class="features py-4 mb-4">
    <div class="container">
      <div class="row">
        <div class="feature py-4 col-md-6 d-flex">
          <div class="icon text-primary mr-3"><i class="fa fa-paint-brush"></i></div>
          <div class="px-4">
              <h5> Purchase</h5>
              <p><h6>We are dedicated in helping you with your residential property purchase.</h6>
          </div>
        </div>
        <div class="feature py-4 col-md-6 d-flex">
          <div class="icon text-primary mr-3"><i class="fa fa-code"></i></div>
          <div class="px-4">
              <h5>Refinance</h5>
              <p><h6>We can help you refinance your existing home.</h6>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="feature py-4 col-md-6 d-flex">
          <div class="icon text-primary mr-3"><i class="fa fa-font"></i></div>
          <div class="px-4">
              <h5>Renewal</h5>
              <p><h6>Looking for Renewal? We can help you get the most suitable product.</h6>
          </div>
        </div>
        <div class="feature py-4 col-md-6 d-flex">
          <div class="icon text-primary mr-3"><i class="fa fa-support"></i></div>
          <div class="px-4">
              <h5>Investment Property</h5>
              <p><h6>We offer specialized service to help you with your investment property, whether it's a resale or pre-construction property.</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / Features -->
</div>
<!-- / Our Services Section -->

<!-- Our Blog Section -->
<div class="blog section section-invert py-4">
  <h3 class="section-title text-center m-5">Learn More</h3>

  <div class="container">
    <div class="py-4">
      <div class="row">
        <div class="card-deck">
        <div class="col-md-12 col-lg-4">
          <div class="card mb-4">
            <img class="card-img-top" src="assets/images/common/card-1.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Mortgages</h4>
              <p class="card-text">Everything you need to know about the various types of mortgages and how to get approved</p>
              <a class="btn btn-primary btn-pill" href="#">Read More &rarr;</a>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-lg-4">
          <div class="card mb-4">
            <img class="card-img-top" src="assets/images/common/card-3.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Calculators</h4>
              <p class="card-text">Not sure how to save? Check out our simple online calculators to find the best rates and how much you can afford.</p>
              <a class="btn btn-primary btn-pill" href="#">Learn More &rarr;</a>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-lg-4">
          <div class="card mb-4">
            <img class="card-img-top" src="assets/images/common/card-2.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Apply Online</h4>
              <p class="card-text">Interested? Answer some simple questions and we'll take the rest for sure abcde
              </p>
              <a class="btn btn-primary btn-pill" href="#">Read More &rarr;</a>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>